.clearfix {
	@include clearfix;
}
img {
	width: 100%;
}
.no-scroll {
	overflow: hidden;
}
input {
	line-height: 1.5;
}
.height100 {
	height: 100%;
}
.is-empty {
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0!important;
	margin-bottom: 0!important;
}
.center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.w-100 {
	width: 100%;
}
.pagination-wrap {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
.main-logo {
	position: absolute;
	left: 0;
	right: 0;
	top: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100%;
	max-width: 70px;
	@include transition(all .3s);
	@include for-tablet-landscape-up {
		display: none;
	}
	a {

	}
}
.mobile-menu {
	display: inline-block;
	@include transition(all .3s);
	@include for-tablet-landscape-up {
		display: none;
	}
	.mobile-menu-toggle {
		position: relative;
		z-index: 100;
		margin: 10px;
		color: rgba(0,0,0,.5);
		border-color: rgba(0,0,0,.1);
		outline: none;
		background: #f8f8f8;
		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(213,106,79, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
		}
	}
}
.mobile-menu__open {
	margin-left: 200px;
}
.divider {
	height: 1px;
	width: 100%;
	background: $borderGray;
}
.title-divider {
	@extend .divider;
	height: 2px;
	background: $backgroundGray;
}
.back-to-result {
	display: flex;
	align-items: center;
	margin-top: 20px;
	color: $blue;
	@include transition(all .3s);
	&:before {
		content: '';
		display: block;
		background: url(../images/return.svg) center;
		background-size: cover;
		height: 16px;
		width: 16px;
		margin-top: -2px;
		margin-right: 10px;
	}
	&:hover {
		color: lighten($blue, 20%);
		&:before {
			background-image: url(../images/return-hover.svg);
		}
	}
}
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 30px;
    background: $orange;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 100%;
    text-decoration: none;
    @include transition(all .3s);
    @include box-shadow(0, 2px, 5px, rgba(0,0,0,.5))
    display: none;
    opacity: 0;
    span {
    	position: absolute;
    	left: 0;
    	right: 0;
    	top: 0;
    	bottom: 0;
    	margin: auto;
    	width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 8px 16px 8px;
		border-color: transparent transparent white transparent;
    }
}
#back-to-top:hover {
    background: #d68d7a;
    @include box-shadow(0, 3px, 5px, rgba(0,0,0,.5))
}
#back-to-top.show {
	display: block;
    opacity: 1;
}
//// Color
.font-black {
	color: black;
}
.font-orange {
	color: $orange;
}
.font-white {
	color: white;
}
.font-blue {
	color: $blue;
}
.font-red {
	color: $red;
}
.bg-red {
	background: $red;
}
.bg-white {
	background: white;
}
.bg-default {
	background: #f8f8f8;
}
.bg-none {
	background: none;
}
.bg-orange {
	background: $orange;
}
.bg-light-orange {
	background: $lightOrange;
}
.bg-border-gray {
	background: $borderGray;
}
.bg-green {
	background: $green;
}
.bg-dark-green {
	background: $darkGreen;
}
.bg-light-green {
	background: $lightGreen;
}
.bg-blue {
	background: $blue;
}
/// Font
.italic {
	font-style: italic;
}
.font-xm {
	font-size: $x-small;
}
.font-default {
	font-size: $root;
}
.font-small {
	font-size: $small;
}
.font-medium {
	font-size: $medium;
}
.font-large {
	font-size: $large;
}
.font-x-large {
	font-size: $x-large;
}
.font-s-medium {
	font-weight: $font-medium;
}
/// Spacing
.no-bt-margin {
	margin-bottom: 0!important;
}
.margin-lr-20px {
	margin-left: 20px;
	margin-right: 20px;
}
.margin-lr-5px {
	margin-left: 5px;
	margin-right: 5px;
}
.margin-lr-10px {
	margin-left: 10px;
	margin-right: 10px;
}
.margin-bt-20px {
	margin-bottom: 20px;
}
.margin-bt-10px {
	margin-bottom: 10px;
}
.margin-tb-20px {
	margin-bottom: 20px;
	margin-top: 20px;
}
.pd-0 {
	padding: 0;
}
.pd-bottom-0 {
	padding-bottom: 0!important;
}
.pd-1em {
	padding: 1em;
}
.pd-lr-1em {
	padding-left: 1em;
	padding-right: 1em;
}
.pd-pill {
	padding: .5em 1em;
}
.pd-sm-pill {
	padding: .1em .5em;
}
.pd-tb-1em {
	padding-top: 1em;
	padding-bottom: 1em;
}
.book-card-img-pd {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}
/// Border

.border-bottom {
	border-bottom: 1px solid black;
}
.border-gray {
	border-color: $borderGray;
}
.border-orange {
	border-color: $orange;
}
.no-border {
	border: none;
}
.pill-border {
	border: 1px solid $lightGreen;
}
.pill-border-orange {
	border: 1px solid $orange;
}
.pill-border-light-orange {
	border: 1px solid $lightOrange;
}

/// Radius
.radius-10 {
	@include radius(10px);
}
.pill-radius {
	@include radius(2em);
}