* {
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	outline: none;
	padding: 0;
	-moz-hyphens: none;
	-ms-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
}
html {
	height: 100%;
}
body {
	font-family: 'Roboto', "Noto Sans TC", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Helvetica Neue", "Helvetica", "Microsoft JhengHei", sans-serif;
	height: 100%;
	width: 100%;
	font-size: 14px;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	margin: 0;
	background: #f8f8f8;
	overflow-x: hidden;
	display: flex;
 	flex-direction: column;
}
.wrapper {
	display: block;
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	@include for-tablet-landscape-up {
		display: flex;
	}
}
.content {
	// height: 100%;
	width: 100%;
	flex: 1 0 auto;
	max-width: 1600px;
	margin: 0 auto;
	padding: 2em 1em 0 1em;
	@include transition(all .3s);
}
.content-aside {
	width: 100%;
	@include for-tablet-landscape-up {
		width: calc(100% - 200px);
	}
}

