h1.font-orange.margin-lr-20px.margin-tb-20px 繪本列表 - 
	span.filter-title 學生作品
.title-divider
include ../components/all-books-filter-student.pug
.all-books-sort-wrap.margin-tb-20px
	.sort-wrap
		span.margin-lr-5px 共
		span.font-orange.margin-lr-5px 774
		span.margin-lr-5px 筆
	.sort-wrap
		span.margin-lr-5px 每頁
		mixin SelectBox(name,options)
			.select-box
				.select-box__current(tabindex="1")
					each option in options
						.select-box__value
							input.select-box__input(type="radio" id=option.id value=option.name name=name checked)
							p.select-box__input-text #{option.name}
					img.select-box__icon(src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true")
				ul.select-box__list
					each option in options
						li
							label.select-box__option(for=option.id aria-hidden) #{option.name}

		+SelectBox('sortFilter',[
			{name: '10', id: 'f1'},
			{name: '20', id: 'f2'},
			{name: '30', id: 'f3'},
			{name: '40', id: 'f4'},
			{name: '50', id: 'f5'}
		])
		span.margin-lr-5px 筆
	.sort-wrap
		span.margin-lr-5px 排序:
		a(href="#").margin-lr-5px.sort-active 近期熱門程度
		span.margin-lr-5px |
		a(href="#").margin-lr-5px 上架時間
.pagination-wrap#all-books-pagination-container
	.paginationjs
		.paginationjs-pages
			ul
				li.paginationjs-prev.disabled
					a «
				li.paginationjs-page.J-paginationjs-page.active(data-num='1')
					a 1
				li.paginationjs-page.J-paginationjs-page(data-num='2')
					a(href='') 2
				li.paginationjs-page.J-paginationjs-page(data-num='3')
					a(href='') 3
				li.paginationjs-page.J-paginationjs-page(data-num='4')
					a(href='') 4
				li.paginationjs-next.J-paginationjs-next(data-num='2' title='Next page')
					a(href='') »
.all-books-card-wrap.margin-tb-20px
	include ../components/all-books-filter-title-card.pug
.pagination-wrap#all-books-pagination-container
	.paginationjs
		.paginationjs-pages
			ul
				li.paginationjs-prev.disabled
					a «
				li.paginationjs-page.J-paginationjs-page.active(data-num='1')
					a 1
				li.paginationjs-page.J-paginationjs-page(data-num='2')
					a(href='') 2
				li.paginationjs-page.J-paginationjs-page(data-num='3')
					a(href='') 3
				li.paginationjs-page.J-paginationjs-page(data-num='4')
					a(href='') 4
				li.paginationjs-next.J-paginationjs-next(data-num='2' title='Next page')
					a(href='') »
