a(href="#" onclick="location.href = document.referrer; return false;").back-to-result 回上一頁
.book-detail
	include ../components/single-book-template.pug
.book-bottom.pd-1em
	.fb-like(data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true")
	include ../components/single-book-bottom-template.pug