h1.font-orange.margin-lr-20px.margin-tb-20px 瀏覽紀錄
.title-divider
.index-books.history-books.margin-bt-20px
	.index-books-wrap
		include ../components/book-card.pug
		include ../components/book-card-chi.pug
		include ../components/book-card-chi.pug
		include ../components/book-card.pug
		include ../components/book-card-chi.pug
		include ../components/book-card.pug
		include ../components/book-card-chi.pug
		include ../components/book-card.pug
		include ../components/book-card.pug
		include ../components/book-card.pug