h1.font-orange.margin-lr-20px.margin-tb-20px 公告訊息
.title-divider
include ../components/newslist-template.pug
.pagination-wrap#news-pagination-container
	.paginationjs
		.paginationjs-pages
			ul
				li.paginationjs-prev.disabled
					a «
				li.paginationjs-page.J-paginationjs-page.active(data-num='1')
					a 1
				li.paginationjs-page.J-paginationjs-page(data-num='2')
					a(href='') 2
				li.paginationjs-page.J-paginationjs-page(data-num='3')
					a(href='') 3
				li.paginationjs-page.J-paginationjs-page(data-num='4')
					a(href='') 4
				li.paginationjs-next.J-paginationjs-next(data-num='2' title='Next page')
					a(href='') »