doctype html
html.no-js
  head
    block meta
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      title 圓夢繪本
      meta(name='description', content='')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(property='og:site_name', content='')
      meta(property='og:type', content='website')
      meta(property='og:title', content='')
      meta(property='og:url', content='')
      meta(property='og:image', content='')
      meta(property='og:description', content='')
      <meta name="apple-mobile-web-app-title" content="">
      <meta name="application-name" content="">
      <meta name="theme-color" content="#ffffff">
      <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
      <link rel="manifest" href="/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
      script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
      script(src='js/bootstrap.min.js')
      script(src='js/bootstrap-4-navbar.min.js')
      script(src='js/app.js')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,500,700')
      link(rel='stylesheet', href='https://fonts.googleapis.com/earlyaccess/notosanstc.css')
      <link href="https://fonts.googleapis.com/css?family=Buenard:400,700" rel="stylesheet">
      link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css", integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU", crossorigin="anonymous")
      link(rel='stylesheet', href='css/bootstrap-reboot.css')
      link(rel='stylesheet', href='css/bootstrap.css')
      link(rel='stylesheet', href='css/jquery-ui.css')
      link(rel='stylesheet', href='css/bootstrap-4-navbar.css')
      link(rel='stylesheet', href='css/pagination.css')
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
      link(rel='stylesheet', href='css/styles.css')
    block styles
    block script

  body
    .wrapper
      a#back-to-top(href="#")
        span
      .main-logo
        a(href="index.html")
          img(src="images/logo.png")
      .left-menu
        block header
          include ../components/header.pug
        block footer

      block main
        block content-wrapper
          block content-title
          block main-content
        block bottom-script