@charset "UTF-8";
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  outline: none;
  padding: 0;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none; }

html {
  height: 100%; }

body {
  font-family: 'Roboto', "Noto Sans TC", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Helvetica Neue", "Helvetica", "Microsoft JhengHei", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 14px;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  margin: 0;
  background: #f8f8f8;
  overflow-x: hidden;
  display: flex;
  flex-direction: column; }

.wrapper {
  display: block;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto; }
  @media (min-width: 900px) {
    .wrapper {
      display: flex; } }

.content {
  width: 100%;
  flex: 1 0 auto;
  max-width: 1600px;
  margin: 0 auto;
  padding: 2em 1em 0 1em;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.content-aside {
  width: 100%; }
  @media (min-width: 900px) {
    .content-aside {
      width: calc(100% - 200px); } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.5; }
  .slick-prev:before,
  .slick-next:before {
    display: block;
    background: url("./../images/carousel-arrow.svg") center center no-repeat;
    background-size: contain;
    height: 31px;
    width: 31px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 25px;
  z-index: 2;
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Safari */
  transform: rotate(180deg); }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: 25px; }
  .slick-prev:before {
    content: ''; }
    [dir="rtl"] .slick-prev:before {
      content: ''; }

.slick-next {
  right: 25px;
  z-index: 2; }
  [dir="rtl"] .slick-next {
    left: 25px;
    right: auto; }
  .slick-next:before {
    content: ''; }
    [dir="rtl"] .slick-next:before {
      content: ''; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: 10px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 5px;
    width: 60px;
    margin: 0 10px;
    padding: 0;
    cursor: pointer;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    overflow: hidden; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 5px;
      width: 60px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 60px;
        height: 5px;
        line-height: 20px;
        text-align: center;
        background: white;
        opacity: 0.5;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      background: #4465af;
      opacity: 0.75; }

.left-menu {
  max-width: 200px;
  background: #e4e4e4;
  border-right: 1px solid #e4e4e4;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.left-menu.menu__close {
  position: fixed;
  left: -400px;
  height: 100%;
  z-index: 2;
  overflow: auto;
  -webkit-box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.3); }

.menu__open {
  left: 0 !important; }

.menu-aside {
  width: 100%;
  max-width: 200px;
  background: white; }
  .menu-aside .logo {
    width: 100%;
    max-width: 60px;
    display: none; }
    @media (min-width: 900px) {
      .menu-aside .logo {
        display: block;
        max-width: 100px; } }
    .menu-aside .logo a {
      display: block;
      padding: 0; }
  .menu-aside #navbarNav {
    flex-direction: column;
    position: relative; }
    .menu-aside #navbarNav .nav {
      align-self: flex-start;
      margin-top: 100px; }
      @media (min-width: 900px) {
        .menu-aside #navbarNav .nav {
          margin-top: 0; } }
    .menu-aside #navbarNav .form-inline {
      position: absolute;
      top: 0; }
      @media (min-width: 900px) {
        .menu-aside #navbarNav .form-inline {
          position: relative; } }
    .menu-aside #navbarNav .accordion-title button {
      padding: 10px 15px;
      text-decoration: none;
      background: #d56a4f;
      color: white; }
      .menu-aside #navbarNav .accordion-title button:hover {
        background: #d56a4f;
        color: white; }
    .menu-aside #navbarNav .accordion-title .collapsed {
      background: none;
      color: black; }
    .menu-aside #navbarNav .sub-menu {
      padding-left: 10px; }
      .menu-aside #navbarNav .sub-menu .accordion-subtitle button {
        text-decoration: none;
        color: #d56a4f;
        position: relative; }
        .menu-aside #navbarNav .sub-menu .accordion-subtitle button:hover {
          color: #d56a4f; }
        .menu-aside #navbarNav .sub-menu .accordion-subtitle button:after {
          content: '\032D';
          display: block;
          position: absolute;
          right: -15px;
          font-size: 1.5em;
          top: -.5em; }
      .menu-aside #navbarNav .sub-menu .accordion-subtitle .collapsed {
        color: black; }
        .menu-aside #navbarNav .sub-menu .accordion-subtitle .collapsed:after {
          content: '\032C'; }
      .menu-aside #navbarNav .sub-menu .accordion-subtitle .default-collapse {
        color: black; }
      .menu-aside #navbarNav .sub-menu .accordionMenu a {
        position: relative;
        display: inline-block;
        padding: .5em 1em .5em 1.5em; }
        .menu-aside #navbarNav .sub-menu .accordionMenu a:after {
          content: '';
          display: block;
          height: 1px;
          width: 100%;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s; }
        .menu-aside #navbarNav .sub-menu .accordionMenu a:hover {
          color: black; }
          .menu-aside #navbarNav .sub-menu .accordionMenu a:hover:after {
            background: #d56a4f; }
  .menu-aside .award-img {
    text-align: center; }
    .menu-aside .award-img img {
      width: 100%; }

.news .news-title {
  margin-left: 5%;
  display: inline-block; }

.news .update-news .carousel-control-prev {
  width: 5%; }
  .news .update-news .carousel-control-prev .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }

.news .update-news .carousel-control-next {
  width: 5%; }
  .news .update-news .carousel-control-next .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }

.news .update-news .carousel-inner {
  width: 90%;
  margin: 0 auto; }

.nav-tabs .nav-item .nav-link {
  color: black; }

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #d56a4f;
  background: #f8f8f8; }

.nav-tabs .nav-link:hover {
  color: white;
  background: #d56a4f;
  border-color: #d56a4f; }

.recommendation-tab-content .carousel-control-prev {
  width: 5%; }
  .recommendation-tab-content .carousel-control-prev .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }

.recommendation-tab-content .carousel-control-next {
  width: 5%; }
  .recommendation-tab-content .carousel-control-next .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }

.recommendation-tab-content .card {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: #f8f8f8; }

.card .carousel-book {
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .card .carousel-book:hover {
    box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.4); }

.card .card-body .card-title {
  display: block;
  color: #d56a4f;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .card .card-body .card-title:hover {
    color: #d68d7a; }

.card .card-body .work-type {
  display: inline-block; }

.card .card-body .work-des {
  margin-bottom: .5em; }
  .card .card-body .work-des span {
    padding: 0 .5em; }
    .card .card-body .work-des span a {
      margin-right: .5em;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .card .card-body .work-des span a:hover {
        background: none !important;
        color: #d56a4f; }

.card .card-body .work-recommendation, .card .card-body .work-review {
  padding: 1em; }
  .card .card-body .work-recommendation p, .card .card-body .work-review p {
    margin-bottom: 0; }

.card .card-body .work-recommendation {
  background: #ecdf85; }

.index-books .view-all-books {
  float: none;
  width: 100%;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .index-books .view-all-books:hover {
    background: none;
    color: #d56a4f; }
  @media (min-width: 600px) {
    .index-books .view-all-books {
      width: auto;
      float: right; } }

.index-books .index-books-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.book-card, .all-books-card-wrap .book-card {
  width: 100%;
  max-width: 44%;
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .book-card .book-lang {
    position: absolute;
    top: -.7em;
    left: -.7em;
    width: 2.2em;
    height: 2.2em;
    -webkit-border-radius: 1.1em;
    -moz-border-radius: 1.1em;
    -o-border-radius: 1.1em;
    border-radius: 1.1em;
    display: inline-block;
    text-align: center;
    margin: 0;
    line-height: 2.2; }
  .book-card:hover {
    box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.2); }
  @media (min-width: 640px) {
    .book-card, .all-books-card-wrap .book-card {
      max-width: 30%; } }
  @media (min-width: 900px) {
    .book-card, .all-books-card-wrap .book-card {
      max-width: 22%; } }

.all-books-card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .all-books-card-wrap:after {
    content: "";
    flex: auto; }
  .all-books-card-wrap .book-card {
    max-width: 100%; }
    @media (min-width: 640px) {
      .all-books-card-wrap .book-card {
        max-width: 44%; } }
    @media (min-width: 1200px) {
      .all-books-card-wrap .book-card {
        max-width: 30%; } }
    .all-books-card-wrap .book-card .card-title {
      display: block; }
      .all-books-card-wrap .book-card .card-title:hover {
        color: #d56a4f; }
    .all-books-card-wrap .book-card .work-des span {
      padding: 0;
      padding-right: 10px; }
    .all-books-card-wrap .book-card .book-links {
      display: flex;
      flex-wrap: wrap; }
      .all-books-card-wrap .book-card .book-links a {
        width: 100%;
        margin: 6px 0;
        text-align: center;
        border: 1px solid #d56a4f;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        .all-books-card-wrap .book-card .book-links a:hover {
          background: white;
          color: #d56a4f; }

.read-book-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  .read-book-wrap .read-book-btn-wrap {
    align-self: flex-end;
    width: 100%; }
    .read-book-wrap .read-book-btn-wrap a {
      display: flex;
      width: 100%;
      text-align: center;
      justify-content: center;
      margin-top: 10px;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .read-book-wrap .read-book-btn-wrap a:before {
        content: '';
        height: 25px;
        width: 25px;
        display: inline-block;
        background-size: cover;
        margin-right: 10px;
        margin-left: -35px; }
      .read-book-wrap .read-book-btn-wrap a:hover {
        color: #d56a4f;
        background: none; }
    .read-book-wrap .read-book-btn-wrap .read-book-icon:before {
      background-image: url(../images/book.svg); }
    .read-book-wrap .read-book-btn-wrap .read-book-icon:hover:before {
      background-image: url(../images/book-hover.svg); }
    .read-book-wrap .read-book-btn-wrap .watch-anime-icon:before {
      background-image: url(../images/play-button.svg); }
    .read-book-wrap .read-book-btn-wrap .watch-anime-icon:hover:before {
      background-image: url(../images/play-button-hover.svg); }

.empty {
  width: 100%;
  max-width: 44%;
  position: relative;
  margin-left: 10px;
  margin-right: 10px; }
  @media (min-width: 640px) {
    .empty {
      max-width: 30%; } }
  @media (min-width: 900px) {
    .empty {
      max-width: 22%; } }

.filter-button {
  padding: .5em 1em;
  margin: 1em;
  display: inline-block; }
  @media (min-width: 768px) {
    .filter-button {
      display: none; } }

.filter-form {
  padding: 1em 1em 0 1em;
  display: none; }
  @media (min-width: 768px) {
    .filter-form {
      display: block; } }

.select-wrap, .all-books-sort-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .select-wrap .select-box, .all-books-sort-wrap .select-box {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto 16px auto;
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    font-size: 18px;
    color: #60666d; }
    @media (min-width: 768px) {
      .select-wrap .select-box, .all-books-sort-wrap .select-box {
        width: 70%; } }
    @media (min-width: 992px) {
      .select-wrap .select-box, .all-books-sort-wrap .select-box {
        width: 50%; } }
    @media (min-width: 1200px) {
      .select-wrap .select-box, .all-books-sort-wrap .select-box {
        width: 30%; } }
    .select-wrap .select-box__current, .all-books-sort-wrap .select-box__current {
      position: relative;
      box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      outline: none; }
      .select-wrap .select-box__current:focus + .select-box__list, .all-books-sort-wrap .select-box__current:focus + .select-box__list {
        opacity: 1;
        height: 500px;
        overflow: scroll;
        animation-name: none; }
        .select-wrap .select-box__current:focus + .select-box__list .select-box__option, .all-books-sort-wrap .select-box__current:focus + .select-box__list .select-box__option {
          cursor: pointer; }
      .select-wrap .select-box__current:focus .select-box__icon, .all-books-sort-wrap .select-box__current:focus .select-box__icon {
        transform: translateY(-50%) rotate(180deg); }
    .select-wrap .select-box__icon, .all-books-sort-wrap .select-box__icon {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 20px;
      opacity: 0.3;
      transition: 0.2s ease; }
    .select-wrap .select-box__value, .all-books-sort-wrap .select-box__value {
      display: flex; }
    .select-wrap .select-box__input, .all-books-sort-wrap .select-box__input {
      display: none; }
      .select-wrap .select-box__input:checked + .select-box__input-text, .all-books-sort-wrap .select-box__input:checked + .select-box__input-text {
        display: block; }
    .select-wrap .select-box__input-text, .all-books-sort-wrap .select-box__input-text {
      display: none;
      width: 100%;
      margin: 0;
      padding: 15px;
      background-color: #fff; }
    .select-wrap .select-box__list, .all-books-sort-wrap .select-box__list {
      position: absolute;
      width: 100%;
      padding: 0;
      list-style: none;
      opacity: 0;
      background: white;
      z-index: 20;
      animation-name: HideList;
      animation-duration: 0.5s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      animation-timing-function: step-start;
      box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1); }
    .select-wrap .select-box__option, .all-books-sort-wrap .select-box__option {
      display: block;
      padding: 15px;
      background-color: #fff; }
      .select-wrap .select-box__option:hover, .select-wrap .select-box__option:focus, .all-books-sort-wrap .select-box__option:hover, .all-books-sort-wrap .select-box__option:focus {
        color: #546c84;
        background-color: #fbfbfb; }

@keyframes HideList {
  from {
    transform: scaleY(1); }
  to {
    transform: scaleY(0); } }

.filter-right-box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 1em; }
  .filter-right-box .filter-checkbox-wrap {
    margin: 0 1em; }
  .filter-right-box .filter-checkbox {
    position: absolute;
    opacity: 0; }
    .filter-right-box .filter-checkbox + label {
      position: relative;
      cursor: pointer;
      padding: 0; }
    .filter-right-box .filter-checkbox + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: white;
      border: 1px solid #d56a4f;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
    .filter-right-box .filter-checkbox:hover + label:before {
      background: #d56a4f; }
    .filter-right-box .filter-checkbox:checked + label:before {
      background: #d56a4f; }
    .filter-right-box .filter-checkbox:disabled + label {
      color: #b8b8b8;
      cursor: auto; }
    .filter-right-box .filter-checkbox:disabled + label:before {
      box-shadow: none;
      background: #ddd; }
    .filter-right-box .filter-checkbox:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
      transform: rotate(45deg); }
  .filter-right-box .filter-confirm {
    width: 90px;
    border: 1px solid #d56a4f;
    background: #d56a4f;
    color: white;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .filter-right-box .filter-confirm:hover {
      background: white;
      color: #d56a4f; }

.all-books-sort-wrap {
  justify-content: flex-start;
  align-items: baseline; }
  .all-books-sort-wrap .sort-wrap {
    display: flex;
    align-items: baseline; }
  .all-books-sort-wrap .select-box__input-text, .all-books-sort-wrap .all-books-sort-wrap .select-box__input-text {
    padding: 5px; }
  .all-books-sort-wrap .select-box__icon, .all-books-sort-wrap .all-books-sort-wrap .select-box__icon {
    right: 5px; }
  .all-books-sort-wrap .select-box__option, .all-books-sort-wrap .all-books-sort-wrap .select-box__option {
    padding: 5px; }
  .all-books-sort-wrap .select-box {
    width: 60px; }
    @media (min-width: 992px) {
      .all-books-sort-wrap .select-box {
        margin-bottom: 10px; } }
  .all-books-sort-wrap a {
    color: black;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .all-books-sort-wrap a:hover {
      color: #df8d78; }
  .all-books-sort-wrap .sort-active {
    color: #d56a4f; }

.book-bottom {
  background: white; }
  .book-bottom .book-summary {
    margin: 60px 0; }
  .book-bottom ul {
    margin-top: 20px; }
    .book-bottom ul .nav-link.active, .book-bottom ul .nav-tabs .nav-item.show .nav-link {
      color: #4465af; }
    .book-bottom ul .nav-link:hover {
      color: white;
      background: #4465af;
      border-color: #4465af; }
  .book-bottom .single-book-tab__content {
    padding: 2em 1em; }

.resources-wrap {
  display: flex;
  flex-wrap: wrap; }
  .resources-wrap .resources {
    flex: 0 0 100%; }
    @media (min-width: 576px) {
      .resources-wrap .resources {
        flex: 0 0 50%; } }
    @media (min-width: 768px) {
      .resources-wrap .resources {
        flex: 0 0 33%; } }
    @media (min-width: 1024px) {
      .resources-wrap .resources {
        flex: 0 0 25%; } }
    .resources-wrap .resources a {
      display: block;
      color: #4465af;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .resources-wrap .resources a span {
        margin: 0 10px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -o-border-radius: 6px;
        background: #def1eb;
        color: #4465af;
        padding: 4px 8px 4px 25px;
        position: relative;
        border: 1px solid #def1eb;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        .resources-wrap .resources a span:before {
          content: '';
          display: block;
          position: absolute;
          width: 16px;
          height: 16px;
          background: url(../images/download.svg) center;
          background-size: cover;
          top: 5px;
          left: 6px; }
      .resources-wrap .resources a:hover {
        color: #889fd1; }
        .resources-wrap .resources a:hover span {
          background: none; }
    .resources-wrap .resources a, .resources-wrap .resources p {
      margin-bottom: 6px; }
    .resources-wrap .resources p span {
      padding-right: 10px; }
      .resources-wrap .resources p span img {
        display: inline-block;
        width: 75px; }

.newslist-wrap, .news-single {
  margin-top: 60px; }
  .newslist-wrap .news-block, .news-single .news-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px; }
    .newslist-wrap .news-block .news-date, .news-single .news-block .news-date {
      width: 100%; }
    .newslist-wrap .news-block .news-content .news-title, .news-single .news-block .news-content .news-title {
      display: block; }
    .newslist-wrap .news-block .news-content .news-more, .news-single .news-block .news-content .news-more {
      display: block;
      text-align: right; }

.faq {
  margin-top: 60px; }
  .faq .card-header button {
    background: none;
    color: #4465af;
    font-size: 1em;
    border: none;
    width: 100%;
    text-align: left; }
    .faq .card-header button:focus {
      outline: none;
      box-shadow: none; }
  .faq .card-body .faq-answer {
    font-size: 1.25em;
    padding: 0.375rem 0.75rem;
    position: relative; }
    .faq .card-body .faq-answer:before {
      content: 'A：';
      display: block;
      position: absolute; }
    .faq .card-body .faq-answer div {
      padding-left: 30px; }

.about-wrap {
  margin-top: 60px; }
  .about-wrap .about-break {
    margin-bottom: 60px; }
  .about-wrap p span {
    display: block; }

.history-books {
  margin-top: 60px; }

.playbook {
  width: 100%; }
  .playbook .top-menu, .playbook .bottom-menu, .playbook .topMenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    padding: 1em 0; }
  .playbook .bottom-menu {
    justify-content: center; }
  .playbook .preload-btn {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px; }
    .playbook .preload-btn button {
      padding: 10px 15px;
      border: 1px solid #d56a4f; }
      .playbook .preload-btn button p {
        margin-bottom: 0;
        color: #d56a4f; }
  .playbook .top-tool button, .playbook .player-control button {
    outline: none; }
    .playbook .top-tool button img, .playbook .player-control button img {
      width: 35px; }
    .playbook .top-tool button p, .playbook .player-control button p {
      border: 1px solid #d56a4f;
      padding: 10px;
      margin-bottom: 0;
      color: #d56a4f;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .playbook .top-tool button p span, .playbook .player-control button p span {
        display: block;
        font-size: 10px; }
    .playbook .top-tool button:hover p, .playbook .player-control button:hover p {
      color: white;
      background: #d56a4f; }
  .playbook .top-tool_next-page, .playbook .player-control_next-page {
    min-width: 135px; }
    .playbook .top-tool_next-page p, .playbook .player-control_next-page p {
      padding-right: 30px !important;
      position: relative; }
      .playbook .top-tool_next-page p:after, .playbook .player-control_next-page p:after {
        display: block;
        position: absolute;
        top: 15px;
        right: 10px;
        background: url(../images/next-page.svg) no-repeat 5px 1px;
        background-size: 25px 25px;
        vertical-align: text-bottom;
        width: 25px;
        height: 25px;
        content: ''; }
    .playbook .top-tool_next-page:hover p:after, .playbook .player-control_next-page:hover p:after {
      content: '';
      background: url(../images/next-page-hover.svg) no-repeat 5px 1px;
      background-size: 25px 25px;
      vertical-align: text-bottom;
      width: 25px;
      height: 25px; }
  .playbook .top-tool_prev-page, .playbook .player-control_prev-page {
    min-width: 135px; }
    .playbook .top-tool_prev-page p, .playbook .player-control_prev-page p {
      padding-left: 30px !important;
      position: relative; }
      .playbook .top-tool_prev-page p:before, .playbook .player-control_prev-page p:before {
        display: block;
        position: absolute;
        top: 15px;
        left: 10px;
        background: url(../images/prev-page.svg) no-repeat -5px 1px;
        background-size: 25px 25px;
        vertical-align: text-bottom;
        width: 25px;
        height: 25px;
        content: ''; }
    .playbook .top-tool_prev-page:hover p:before, .playbook .player-control_prev-page:hover p:before {
      content: '';
      background: url(../images/prev-page-hover.svg) no-repeat -5px 1px;
      background-size: 25px 25px;
      vertical-align: text-bottom;
      width: 25px;
      height: 25px; }
  @media (min-width: 768px) {
    .playbook .top-tool_fullscreen, .playbook .top-tool_autoplay, .playbook .player-control_fullscreen, .playbook .player-control_autoplay {
      width: auto; } }
  .playbook .top-tool_fullscreen p, .playbook .top-tool_autoplay p, .playbook .player-control_fullscreen p, .playbook .player-control_autoplay p {
    background: #d56a4f;
    padding: 3px 10px !important; }
  .playbook .top-tool .select-box, .playbook .player-control .select-box {
    position: relative;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    font-size: 16px;
    color: #60666d;
    margin-left: auto;
    margin-right: 1em;
    z-index: 50; }
    .playbook .top-tool .select-box__current, .playbook .player-control .select-box__current {
      position: relative;
      box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      outline: none;
      width: auto;
      min-width: 150px; }
      .playbook .top-tool .select-box__current:focus + .select-box__list, .playbook .player-control .select-box__current:focus + .select-box__list {
        opacity: 1;
        animation-name: none; }
        .playbook .top-tool .select-box__current:focus + .select-box__list .select-box__option, .playbook .player-control .select-box__current:focus + .select-box__list .select-box__option {
          cursor: pointer; }
      .playbook .top-tool .select-box__current:focus .select-box__icon, .playbook .player-control .select-box__current:focus .select-box__icon {
        transform: translateY(-50%) rotate(180deg); }
    .playbook .top-tool .select-box__open + .select-box__list, .playbook .player-control .select-box__open + .select-box__list {
      opacity: 1;
      animation-name: none; }
      .playbook .top-tool .select-box__open + .select-box__list .select-box__option, .playbook .player-control .select-box__open + .select-box__list .select-box__option {
        cursor: pointer;
        margin-bottom: 0; }
    .playbook .top-tool .select-box__open .select-box__icon, .playbook .player-control .select-box__open .select-box__icon {
      transform: translateY(-50%) rotate(180deg); }
    .playbook .top-tool .select-box__icon, .playbook .player-control .select-box__icon {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 20px;
      opacity: 0.3;
      transition: 0.2s ease; }
    .playbook .top-tool .select-box__value, .playbook .player-control .select-box__value {
      display: flex; }
    .playbook .top-tool .select-box__input, .playbook .player-control .select-box__input {
      display: none; }
      .playbook .top-tool .select-box__input:checked + .select-box__input-text, .playbook .player-control .select-box__input:checked + .select-box__input-text {
        display: block; }
    .playbook .top-tool .select-box__input-text, .playbook .player-control .select-box__input-text {
      display: none;
      width: 100%;
      margin: 0;
      padding: 15px 40px 15px 15px;
      background-color: #fff; }
    .playbook .top-tool .select-box__list, .playbook .player-control .select-box__list {
      position: absolute;
      width: 100%;
      padding: 0;
      list-style: none;
      opacity: 0;
      margin-top: 10px;
      z-index: 3;
      background: white;
      animation-name: HideList;
      animation-duration: 0.5s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      animation-timing-function: step-start;
      box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1); }
    .playbook .top-tool .select-box__option, .playbook .player-control .select-box__option {
      display: block;
      padding: 15px;
      background-color: #fff; }
      .playbook .top-tool .select-box__option:hover, .playbook .top-tool .select-box__option:focus, .playbook .player-control .select-box__option:hover, .playbook .player-control .select-box__option:focus {
        color: white;
        background-color: #d56a4f; }

@keyframes HideList {
  from {
    transform: scaleY(1); }
  to {
    transform: scaleY(0); } }
  .playbook .player-control button {
    margin-bottom: 20px; }
  .playbook .image-placeholder, .playbook .picHolder {
    width: 100%;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    display: flex; }
    .playbook .image-placeholder .left-img, .playbook .image-placeholder .right-img, .playbook .picHolder .left-img, .playbook .picHolder .right-img {
      width: auto;
      height: auto;
      margin: 0 auto;
      background: white; }
      .playbook .image-placeholder .left-img img, .playbook .image-placeholder .right-img img, .playbook .picHolder .left-img img, .playbook .picHolder .right-img img {
        width: auto;
        height: auto; }
    .playbook .image-placeholder .empty-placeholder, .playbook .picHolder .empty-placeholder {
      display: none; }

#page_block_container.overflow-important {
  overflow: scroll !important; }

.video-container {
  width: 100%; }
  .video-container video {
    width: 100%;
    height: 100%; }

#footer {
  padding: 20px 16px;
  width: 100%; }
  #footer .footer-top {
    display: block; }
    #footer .footer-top .footer-logo {
      width: 100%;
      max-width: 120px;
      margin-bottom: 20px; }
    #footer .footer-top .footer-info {
      display: block; }
      #footer .footer-top .footer-info span, #footer .footer-top .footer-info a {
        display: block; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

img {
  width: 100%; }

.no-scroll {
  overflow: hidden; }

input {
  line-height: 1.5; }

.height100 {
  height: 100%; }

.is-empty {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.center {
  text-align: center; }

.align-left {
  text-align: left; }

.w-100 {
  width: 100%; }

.pagination-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 30px; }

.main-logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  max-width: 70px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  @media (min-width: 900px) {
    .main-logo {
      display: none; } }

.mobile-menu {
  display: inline-block;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  @media (min-width: 900px) {
    .mobile-menu {
      display: none; } }
  .mobile-menu .mobile-menu-toggle {
    position: relative;
    z-index: 100;
    margin: 10px;
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
    outline: none;
    background: #f8f8f8; }
    .mobile-menu .mobile-menu-toggle .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(213,106,79, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.mobile-menu__open {
  margin-left: 200px; }

.divider, .title-divider {
  height: 1px;
  width: 100%;
  background: #e4e4e4; }

.title-divider {
  height: 2px;
  background: #DDDDDD; }

.back-to-result {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: #4465af;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .back-to-result:before {
    content: '';
    display: block;
    background: url(../images/return.svg) center;
    background-size: cover;
    height: 16px;
    width: 16px;
    margin-top: -2px;
    margin-right: 10px; }
  .back-to-result:hover {
    color: #889fd1; }
    .back-to-result:hover:before {
      background-image: url(../images/return-hover.svg); }

#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 30px;
  background: #d56a4f;
  color: #444;
  cursor: pointer;
  border: 0;
  border-radius: 100%;
  text-decoration: none;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  display: none;
  opacity: 0; }
  #back-to-top span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 16px 8px;
    border-color: transparent transparent white transparent; }

#back-to-top:hover {
  background: #d68d7a;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); }

#back-to-top.show {
  display: block;
  opacity: 1; }

.font-black {
  color: black; }

.font-orange {
  color: #d56a4f; }

.font-white {
  color: white; }

.font-blue {
  color: #4465af; }

.font-red {
  color: #e12424; }

.bg-red {
  background: #e12424; }

.bg-white {
  background: white; }

.bg-default {
  background: #f8f8f8; }

.bg-none {
  background: none; }

.bg-orange {
  background: #d56a4f; }

.bg-light-orange {
  background: #d68d7a; }

.bg-border-gray {
  background: #e4e4e4; }

.bg-green {
  background: #b6ded2; }

.bg-dark-green {
  background: #88b218; }

.bg-light-green {
  background: #def1eb; }

.bg-blue {
  background: #4465af; }

.italic {
  font-style: italic; }

.font-xm {
  font-size: 0.875em; }

.font-default {
  font-size: 1em; }

.font-small {
  font-size: 1.125em; }

.font-medium {
  font-size: 1.25em; }

.font-large {
  font-size: 1.375em; }

.font-x-large {
  font-size: 1.5em; }

.font-s-medium {
  font-weight: 500; }

.no-bt-margin {
  margin-bottom: 0 !important; }

.margin-lr-20px {
  margin-left: 20px;
  margin-right: 20px; }

.margin-lr-5px {
  margin-left: 5px;
  margin-right: 5px; }

.margin-lr-10px {
  margin-left: 10px;
  margin-right: 10px; }

.margin-bt-20px {
  margin-bottom: 20px; }

.margin-bt-10px {
  margin-bottom: 10px; }

.margin-tb-20px {
  margin-bottom: 20px;
  margin-top: 20px; }

.pd-0 {
  padding: 0; }

.pd-bottom-0 {
  padding-bottom: 0 !important; }

.pd-1em {
  padding: 1em; }

.pd-lr-1em {
  padding-left: 1em;
  padding-right: 1em; }

.pd-pill {
  padding: .5em 1em; }

.pd-sm-pill {
  padding: .1em .5em; }

.pd-tb-1em {
  padding-top: 1em;
  padding-bottom: 1em; }

.book-card-img-pd {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }

.border-bottom {
  border-bottom: 1px solid black; }

.border-gray {
  border-color: #e4e4e4; }

.border-orange {
  border-color: #d56a4f; }

.no-border {
  border: none; }

.pill-border {
  border: 1px solid #def1eb; }

.pill-border-orange {
  border: 1px solid #d56a4f; }

.pill-border-light-orange {
  border: 1px solid #d68d7a; }

.radius-10 {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px; }

.pill-radius {
  -webkit-border-radius: 2em;
  border-radius: 2em;
  -moz-border-radius: 2em;
  -o-border-radius: 2em; }
