.filter-button {
  padding: .5em 1em;
  margin: 1em;
  display: inline-block;
  @include for-768-up {
    display: none;
  }
}
.filter-form {
  padding: 1em 1em 0 1em;
  display: none;
  @include for-768-up {
    display: block;
  }
}
.select-wrap, .all-books-sort-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .select-box {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto 16px auto;
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    font-size: 18px;
    color: #60666d;
    
    @media (min-width: 768px) {
      width: 70%;
    }
    
    @media (min-width: 992px) {
      width: 50%;
    }
    
    @media (min-width: 1200px) {
      width: 30%;
    }
    
    &__current {
      position: relative;
      box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
      cursor: pointer;
      outline: none;
      
      &:focus {
        & + .select-box__list {
          opacity: 1;
          height: 500px;
          overflow: scroll;
          // We have to set "animation-name: none;" to make the list visible (read below how it works)

          animation-name: none;
          
          .select-box__option {
            cursor: pointer;
          }
        }
        
        .select-box__icon {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
    
    &__icon {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 20px;
      opacity: 0.3;
      transition: 0.2s ease;
    }
    
    &__value {
      display: flex;
    }
    
    &__input {
      display: none;
      
      &:checked + .select-box__input-text {
        display: block;
      }
    }
    
    &__input-text {
      display: none;
      width: 100%;
      margin: 0;
      padding: 15px;
      background-color: #fff;
    }
    
    &__list {
      position: absolute;
      width: 100%;
      padding: 0;
      list-style: none;
      opacity: 0;
      background: white;
      z-index: 20;
      // We need to use animation with delay.
      // Otherwise the click event will not have time to run on label, because this element disapears immediately when .select-box__current element loses the focus.
      // This delay will not be noticed because we set "opacity" to "0".
      // We also use "animation-fill-mode: forwards" to make the list stay hidden.
      
      animation-name: HideList;
      animation-duration: 0.5s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      animation-timing-function: step-start;
      box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
    }
    
    &__option {
      display: block;
      padding: 15px;
      background-color: #fff;
      
      &:hover,
      &:focus {
        color: #546c84;
        background-color: #fbfbfb;
      }
    }
  }

  @keyframes HideList {
    from {
      transform: scaleY(1);
    }
    to {
      transform: scaleY(0);
    }
  }
}
.filter-right-box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 1em;
  .filter-checkbox-wrap {
    margin: 0 1em;
  }
  .filter-checkbox {
    position: absolute;
    opacity: 0;
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }

    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: white;
      border: 1px solid $orange;
      @include transition(all .3s);
    }

    // Box hover
    &:hover + label:before {
      background: $orange;
    }


    // Box checked
    &:checked + label:before {
      background: $orange;
    }
    
    // Disabled state label.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }

    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }

    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }
  }
  .filter-confirm {
    width: 90px;
    border: 1px solid $orange;
    background: $orange;
    color: white;
    @include transition(all .3s);
    &:hover {
      background: white;
      color: $orange;
    }
  }
}
//   .select-box {
//     position: relative;
//     display: block;
//     width: 100%;
//     font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
//     font-size: 16px;
//     color: #60666d;
//     margin-bottom: 16px;
//     @media (min-width: 768px) {
//       width: 47%;
//     }
//     @media (min-width: 992px) {
//       width: 31%;
//       margin-bottom: 30px;
//     }
//     &__current {
//       position: relative;
//       box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
//       cursor: pointer;
//       outline: none;
//     }
//     &__open {
//       & + .select-box__list {
//           opacity: 1;

//           animation-name: none;
          
//           .select-box__option {
//             cursor: pointer;
//             margin-bottom: 0;
//           }
//         }
        
//         .select-box__icon {
//           transform: translateY(-50%) rotate(180deg);
//         }
//     }
    
//     &__icon {
//       position: absolute;
//       top: 50%;
//       right: 15px;
//       transform: translateY(-50%);
//       width: 20px;
//       opacity: 0.3;
//       transition: 0.2s ease;
//     }
    
//     &__value {
//       display: flex;
//     }
    
//     &__input {
//       display: none;
      
//       &:checked + .select-box__input-text {
//         display: block;
//       }
//     }
    
//     &__input-text {
//       display: none;
//       width: 100%;
//       margin: 0;
//       padding: 15px;
//       background-color: #fff;
//       white-space: nowrap;
//       overflow: hidden;
//       text-overflow: ellipsis;
//     }
    
//     &__list {
//       position: absolute;
//       width: 100%;
//       padding: 0;
//       list-style: none;
//       opacity: 0;
//       margin-top: 10px;
//       z-index: 3;
//       animation-name: HideList;
//       animation-duration: 0.5s;
//       animation-delay: 0.5s;
//       animation-fill-mode: forwards;
//       animation-timing-function: step-start;
//       box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
//     }
    
//     &__option {
//       display: block;
//       padding: 15px;
//       background-color: #fff;
      
//       &:hover,
//       &:focus {
//         color: white;
//         background-color: #d56a4f;
//       }
//     }
//   }

//   @keyframes HideList {
//     from {
//       transform: scaleY(1);
//     }
//     to {
//       transform: scaleY(0);
//     }
//   }
// }

.all-books-sort-wrap {
  justify-content: flex-start;
  align-items: baseline;
  .sort-wrap {
    display: flex;
    align-items: baseline;
  }
  .select-box__input-text, .all-books-sort-wrap .select-box__input-text {
    padding: 5px;
  }
  .select-box__icon, .all-books-sort-wrap .select-box__icon {
    right: 5px;
  }
  .select-box__option, .all-books-sort-wrap .select-box__option {
    padding: 5px;
  }
  .select-box {
    width: 60px;
    @media (min-width: 992px) {
      margin-bottom: 10px;
    }
  }
  a {
    color: black;
    @include transition(all .3s);
    &:hover {
      color: lighten($orange, 10%);
    }
  }
  .sort-active {
    color: $orange;
  }
}
