.book-card {
	width: 100%;
	max-width: 44%;
	position: relative;
	@include transition(all .3s);
	.book-lang {
		position: absolute;
		top: -.7em;
		left: -.7em;
		@include circle(2.2em, 0, 2.2);
	}
	&:hover {
		box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.2);
	}
	@include for-640-up {
		max-width: 30%;
	}
	@include for-tablet-landscape-up {
		max-width: 22%;
	}
}
.all-books-card-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	&:after {
		content: "";
		flex: auto;
	}
	.book-card {
		@extend .book-card;
		max-width: 100%;
		@include for-640-up {
			max-width: 44%;
		}
		@include for-desktop-up {
			max-width: 30%;
		}
		.card-title {
			display: block;
			&:hover {
				color: $orange;
			}
		}
		.work-des span {
			padding: 0;
			padding-right: 10px;
		}
		.book-links {
			display: flex;
			flex-wrap: wrap;
			a {
				width: 100%;
				margin: 6px 0;
				text-align: center;
				border: 1px solid $orange;
				@include transition(all .3s);
				&:hover {
					background: white;
					color: $orange;
				}
			}
		}
	}
}
.read-book-wrap {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	.read-book-btn-wrap {
		align-self: flex-end;
		width: 100%;
		a {
			display: flex;
			width: 100%;
			text-align: center;
			justify-content: center;
			margin-top: 10px;
			@include transition(all .3s);
			&:before {
				content: '';
				height: 25px;
				width: 25px;
				display: inline-block;
				background-size: cover;
				margin-right: 10px;
				margin-left: -35px;
			}
			&:hover {
				color: $orange;
				background: none;
			}
		}
		.read-book-icon {
			&:before {
				background-image: url(../images/book.svg);
			}
			&:hover {
				&:before {
					background-image: url(../images/book-hover.svg);
				}
			}
		}
		.watch-anime-icon {
			&:before {
				background-image: url(../images/play-button.svg);
			}
			&:hover {
				&:before {
					background-image: url(../images/play-button-hover.svg);
				}
			}
		}
	}
}
.empty {
	width: 100%;
	max-width: 44%;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	@include for-640-up {
		max-width: 30%;
	}
	@include for-tablet-landscape-up {
		max-width: 22%;
	}
}