.nav-tabs .nav-item .nav-link {
	color: black;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	color: $orange;
	background: #f8f8f8;
}
.nav-tabs .nav-link:hover {
	color: white;
	background: $orange;
	border-color: $orange;
}
.recommendation-tab-content {
	.carousel-control-prev {
		width: 5%;
		.carousel-control-prev-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
		}
	}
	.carousel-control-next {
		width: 5%;
		.carousel-control-next-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
		}
	}
	.card {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		background: #f8f8f8;
	}
}
.card {
	.carousel-book {
		box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
		display: block;
		margin-top: 1em;
		margin-bottom: 1em;
		@include transition(all .3s);
		&:hover {
			box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.4);
		}
	}
	.card-body {
		.card-title {
			display: block;
			color: $orange;
			@include transition(all .3s);
			&:hover {
				color: $lightOrange;
			}
		}
		.work-type {
			display: inline-block;
		}
		.work-des {
			margin-bottom: .5em;
			span {
				padding: 0 .5em;
				a {
					margin-right: .5em;
					@include transition(all .3s);
					&:hover {
						background: none!important;
						color: $orange;
					}
				}
			}
		}
		.work-recommendation, .work-review {
			padding: 1em;
			p {
				margin-bottom: 0;
			}
		}
		.work-recommendation {
			background: rgb(236,223,133);
		}
	}
}