.index-books {
	.view-all-books {
		float: none;
		width: 100%;
		@include transition(all .3s);
		&:hover {
			background: none;
			color: $orange;
		}
		@include for-tablet-portrait-up {
			width: auto;
			float: right;
		}
	}
	.index-books-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}