.resources-wrap {
	display: flex;
	flex-wrap: wrap;
	.resources {
		flex: 0 0 100%;
		@include for-bootsrap-sm {
			flex: 0 0 50%;
		}
		@include for-768-up {
			flex: 0 0 33%;
		}
		@include for-mid-foundation-up {
			flex: 0 0 25%;
		}
		a {
			display: block;
			color: $blue;
			@include transition(all .3s);
			span {
				margin: 0 10px;
				@include radius(6px);
				background: $lightGreen;
				color: $blue;
				padding: 4px 8px 4px 25px;
				position: relative;
				border: 1px solid $lightGreen;
				@include transition(all .3s);
				&:before {
					content: '';
					display: block;
					position: absolute;
					width: 16px;
					height: 16px;
					background: url(../images/download.svg) center;
					background-size: cover;
					top: 5px;
					left: 6px;
				}
			}
			&:hover {
				color: lighten($blue, 20%);
				span {
					background: none;
				}
			}
		}
		a, p {
			margin-bottom: 6px;
		}
		p span {
			padding-right: 10px;
			img {
				display: inline-block;
				width: 75px;
			}
		}
	}
}