.book-bottom {
	background: white;
	.book-summary {
		margin: 60px 0;
	}
	ul {
		margin-top: 20px;
		.nav-link.active, .nav-tabs .nav-item.show .nav-link {
			color: $blue;
		}
		.nav-link:hover {
			color: white;
			background: $blue;
			border-color: $blue;
		}
	}
	.single-book-tab {
		&__content {
			padding: 2em 1em;
		}
	}
}