
<div class="card book-card margin-lr-10px margin-bt-20px">
  <p class="book-lang font-white font-medium bg-orange">中</p><a href="book-single.html"><img class="border-bottom border-gray" src="images/book2.jpg"/></a>
  <div class="card-body">
    <p class="work-type bg-orange font-white pd-pill margin-bt-10px pill-radius bg-orange">學生創作</p><a class="card-title font-red font-large font-s-medium" href="#">壞脾氣的蕾蕾</a>
    <p class="work-author font-small">王筠涵，高鈺婷</p>
    <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">正體中文</a></span></p>
    <p class="work-des"><span>主題</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">家政教育</a></span></p>
    <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">明道中學(12年級)</a></span></p>
    <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">0-6歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">7-9歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a></span></p>
    <p class="work-des"><span>指導老師</span><span>|</span><span>莊玉鈴</span></p>
    <p class="work-des"><span>上架時間</span><span>|</span><span>2012-11-03</span></p>
    <p class="work-des"><span>總點閱率</span><span>|</span><span>繪本106,472次 ，動畫108,357次</span></p>
    <div class="book-links"><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="#">閱讀繪本</a><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="" onclick="openWindow('video.html');">看動畫</a></div>
  </div>
</div>
<div class="card book-card margin-lr-10px margin-bt-20px">
  <p class="book-lang font-white font-medium bg-orange">中</p><a href="book-single.html"><img class="border-bottom border-gray" src="images/book2.jpg"/></a>
  <div class="card-body">
    <p class="work-type bg-orange font-white pd-pill margin-bt-10px pill-radius bg-orange">學生創作</p><a class="card-title font-red font-large font-s-medium" href="#">我髒髒的手</a>
    <p class="work-author font-small">黃閔萱</p>
    <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">正體中文</a></span></p>
    <p class="work-des"><span>主題</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">健康與體育</a></span></p>
    <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">明道中學(11年級)</a></span></p>
    <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">0-6歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">7-9歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a></span></p>
    <p class="work-des"><span>指導老師</span><span>|</span><span>莊玉鈴</span></p>
    <p class="work-des"><span>上架時間</span><span>|</span><span>2012-11-03</span></p>
    <p class="work-des"><span>總點閱率</span><span>|</span><span>繪本106,472次</span></p>
    <div class="book-links"><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="#">閱讀繪本</a><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="" onclick="openWindow('video.html');">看動畫</a></div>
  </div>
</div>
<div class="card book-card margin-lr-10px margin-bt-20px">
  <p class="book-lang font-white font-medium bg-blue">英</p><a href="book-single.html"><img class="border-bottom border-gray" src="images/book2.jpg"/></a>
  <div class="card-body">
    <p class="work-type bg-orange font-white pd-pill margin-bt-10px pill-radius bg-dark-green">地方特色</p><a class="card-title font-red font-large font-s-medium" href="#">Remember Me</a>
    <p class="work-author font-small">Kai-Ting Siao，Siew-Feng Thiah</p>
    <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">正體中文</a></span></p>
    <p class="work-des"><span>主題</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">英文</a></span></p>
    <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">斗六繪本館</a></span></p>
    <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">0-6歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">7-9歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a></span></p>
    <p class="work-des"><span>指導老師</span><span>|</span><span>莊玉鈴</span></p>
    <p class="work-des"><span>上架時間</span><span>|</span><span>2014-10-01</span></p>
    <p class="work-des"><span>總點閱率</span><span>|</span><span>繪本837次</span></p>
    <div class="book-links"><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="#">閱讀繪本</a><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="" onclick="openWindow('video.html');">看動畫</a></div>
  </div>
</div>
<div class="card book-card margin-lr-10px margin-bt-20px">
  <p class="book-lang font-white font-medium bg-blue">英</p><a href="book-single.html"><img class="border-bottom border-gray" src="images/book2.jpg"/></a>
  <div class="card-body">
    <p class="work-type bg-orange font-white pd-pill margin-bt-10px pill-radius bg-dark-green">學生創作</p><a class="card-title font-red font-large font-s-medium" href="#">Where? Where? Where Are My Friends?</a>
    <p class="work-author font-small">韋嫻亭，江秀玲，陳宥禎，黃子懿，王勤之，謝泓紜</p>
    <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">正體中文</a></span></p>
    <p class="work-des"><span>主題</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">英文</a></span></p>
    <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">國立苑裡高級中學(二)</a></span></p>
    <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">0-6歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">7-9歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a></span></p>
    <p class="work-des"><span>指導老師</span><span>|</span><span>鄭孟淳、紀柔宇、林佳誼</span></p>
    <p class="work-des"><span>上架時間</span><span>|</span><span>2018-12-01</span></p>
    <p class="work-des"><span>總點閱率</span><span>|</span><span>繪本176次</span></p>
    <div class="book-links"><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="#">閱讀繪本</a><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="" onclick="openWindow('video.html');">看動畫</a></div>
  </div>
</div>
<div class="card book-card margin-lr-10px margin-bt-20px">
  <p class="book-lang font-white font-medium bg-orange">中</p><a href="book-single.html"><img class="border-bottom border-gray" src="images/book2.jpg"/></a>
  <div class="card-body">
    <p class="work-type bg-orange font-white pd-pill margin-bt-10px pill-radius bg-blue">優賞作品</p><a class="card-title font-red font-large font-s-medium" href="#">仁仁愛公園</a>
    <p class="work-author font-small">高德瑋</p>
    <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">正體中文</a></span></p>
    <p class="work-des"><span>主題</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">環境教育</a></span></p>
    <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">臺灣藝術教育館</a></span></p>
    <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">0-6歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">7-9歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a></span></p>
    <p class="work-des"><span>指導老師</span><span>|</span><span>鄭孟淳、紀柔宇、林佳誼</span></p>
    <p class="work-des"><span>上架時間</span><span>|</span><span>2018-12-01</span></p>
    <p class="work-des"><span>總點閱率</span><span>|</span><span>繪本176次</span></p>
    <div class="book-links"><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="#">閱讀繪本</a><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="" onclick="openWindow('video.html');">看動畫</a></div>
  </div>
</div>