
<aside>
  <nav class="header-wrap navbar navbar-light navbar-expand-lg btco-hover-menu pd-1em flex-column">
    <div class="logo margin-bt-20px"><a href="index.html"><img src="images/logo.png"/></a></div>
    <div class="w-100" id="navbarNav">
      <ul class="nav flex-column w-100">
        <li class="nav-item accordion w-100" id="accordionNav">
          <div id="navOne">
            <p class="accordion-title no-bt-margin">
              <button class="btn btn-link font-black no-border font-medium w-100 align-left acc-open" type="button" data-toggle="collapse" data-target="#menuOne" aria-expanded="true" aria-controls="menuOne">繪本瀏覽</button>
            </p>
          </div>
          <div class="sub-menu collapse show" id="menuOne" aria-labelledby="navOne" data-parent="#accordionNav">
            <div class="accordion" id="accordionSubMenu">
              <div id="subNavOne">
                <p class="accordion-subtitle no-bt-margin">
                  <button class="btn btn-link font-black no-border" type="button" data-toggle="collapse" data-target="#subMenuOne" aria-expanded="true" aria-controls="subMenuOne">依繪本特色</button>
                </p>
              </div>
              <div class="collapse show" id="subMenuOne" aria-labelledby="subNavOne" data-parent="#accordionSubMenu">
                <div class="accordionMenu"><a class="font-black" href="#">學生創作</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">地方特色</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">優賞作品</a></div>
              </div>
              <div id="subNavTwo">
                <p class="accordion-subtitle no-bt-margin">
                  <button class="btn btn-link font-black no-border collapsed" type="button" data-toggle="collapse" data-target="#subMenuTwo" aria-expanded="false" aria-controls="subMenuTwo">依繪本主題</button>
                </p>
              </div>
              <div class="collapse" id="subMenuTwo" aria-labelledby="subNavTwo" data-parent="#accordionSubMenu">
                <div class="accordionMenu"><a class="font-black" href="#">人權教育</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">健康與體育</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">多元文化教育</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">家政教育</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">性別平等</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">數學</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">環境教育</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">生活</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">生涯發展教育</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">社會</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">綜合活動</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">自然科學</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">英文</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">藝術與人文</a></div>
              </div>
              <div id="subNavThree">
                <p class="accordion-subtitle no-bt-margin">
                  <button class="btn btn-link font-black no-border collapsed" type="button" data-toggle="collapse" data-target="#subMenuThree" aria-expanded="false" aria-controls="subMenuThree">依試讀年齡</button>
                </p>
              </div>
              <div class="collapse" id="subMenuThree" aria-labelledby="subNavThree" data-parent="#accordionSubMenu">
                <div class="accordionMenu"><a class="font-black" href="#">0-6歲</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">7-9歲</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">10-12歲</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">13-15歲</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">16歲以上</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">全齡適用</a></div>
              </div>
              <div id="subNavFour">
                <p class="accordion-subtitle no-bt-margin">
                  <button class="btn btn-link font-black no-border collapsed" type="button" data-toggle="collapse" data-target="#subMenuFour" aria-expanded="false" aria-controls="subMenuFour">依語言</button>
                </p>
              </div>
              <div class="collapse" id="subMenuFour" aria-labelledby="subNavFour" data-parent="#accordionSubMenu">
                <div class="accordionMenu"><a class="font-black" href="#">正體中文</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">英文</a></div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item w-100"><a class="font-black nav-link font-small" href="#">瀏覽紀錄</a></li>
        <li class="nav-item w-100"><a class="font-black nav-link font-small" href="#">公告訊息</a></li>
        <li class="nav-item w-100"><a class="font-black nav-link font-small" href="#">常見問題</a></li>
        <li class="nav-item w-100"><a class="font-black nav-link font-small" href="#">關於我們</a></li>
        <li class="nav-item w-100"><a class="font-black nav-link font-small" href="#">好站推薦</a></li>
      </ul>
      <form class="form-inline">
        <input class="form-control w-100 margin-lr-10px margin-bt-10px" type="search" placeholder="請輸入關鍵字" aria-label="Search"/>
        <button class="btn nav-search-btn bg-orange border-orange w-100" type="submit">搜尋</button>
      </form>
    </div>
  </nav>
</aside>