
<div class="recommendation-carousel border-bottom border-orange">
  <h5 class="font-orange margin-tb-20px margin-lr-10px">繪本推薦</h5>
  <ul class="nav nav-tabs" id="recommendationTab" role="tablist">
    <li class="nav-item"><a class="nav-link active" id="tab-one" data-toggle="tab" href="#content-one" role="tab" aria-controls="content-one" aria-selected="true">關懷動物展</a></li>
    <li class="nav-item"><a class="nav-link" id="tab-two" data-toggle="tab" href="#content-two" role="tab" aria-controls="content-two" aria-selected="false">空污特展</a></li>
    <li class="nav-item"><a class="nav-link" id="tab-three" data-toggle="tab" href="#content-three" role="tab" aria-controls="content-three" aria-selected="false">本月主打</a></li>
    <li class="nav-item"><a class="nav-link" id="tab-four" data-toggle="tab" href="#content-four" role="tab" aria-controls="content-four" aria-selected="true">關懷動物展</a></li>
    <li class="nav-item"><a class="nav-link" id="tab-five" data-toggle="tab" href="#content-five" role="tab" aria-controls="content-five" aria-selected="false">空污特展</a></li>
    <li class="nav-item"><a class="nav-link" id="tab-six" data-toggle="tab" href="#content-six" role="tab" aria-controls="content-six" aria-selected="false">本月主打</a></li>
  </ul>
  <div class="tab-content recommendation-tab-content" id="recommendationTabContent">
    <div class="tab-pane fade show active" id="content-one" role="tabpanel" aria-labelledby="content-one">
      <div class="carousel slide" id="content-one-carousel" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card mb-3 no-border margin-tb-20px no-bt-margin">
              <div class="row no-gutters">
                <div class="col-md-4"><a class="carousel-book" href="book-single.html"><img src="images/book1.jpg"/></a></div>
                <div class="col-md-8">
                  <div class="card-body pd-bottom-0">
                    <div class="row">
                      <div class="col-md-6"><a class="card-title font-black font-large" href="book-single.html">Dylan's Teeth</a>
                        <p class="work-type bg-red font-white pd-pill margin-bt-10px pill-radius">學生創作</p>
                        <p class="work-des"><span>作者</span><span>|</span><span>韋嫻亭，江秀玲，陳宥禎，黃子懿，王勤之，謝泓紜 </span></p>
                        <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border pill-border" href="#">英文</a></span></p>
                        <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">國立中壢高級家事商業職業學校(應用外語科)</a></span></p>
                        <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">13-15歲</a></span></p>
                      </div>
                      <div class="col-md-6">
                        <div class="work-recommendation">
                          <h5>本月主打簡介</h5>
                          <p>可放置文字說明主打原因可放置文字說明主打原因可放置文字說明主打原因可放置文字說明主打原因</p>
                        </div>
                        <div class="work-review">
                          <h5>讀者閱讀心得</h5>
                          <p>閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card mb-3 no-border margin-tb-20px no-bt-margin">
              <div class="row no-gutters">
                <div class="col-md-4"><a class="carousel-book" href="book-single.html"><img src="images/book2.jpg"/></a></div>
                <div class="col-md-8">
                  <div class="card-body pd-bottom-0">
                    <div class="row">
                      <div class="col-md-6"><a class="card-title font-black font-large" href="book-single.html">我吃胖了</a>
                        <p class="work-type bg-red font-white pd-pill margin-bt-10px pill-radius">學生創作</p>
                        <p class="work-des"><span>作者</span><span>|</span><span>韋嫻亭，江秀玲，陳宥禎，黃子懿，王勤之，謝泓紜 </span></p>
                        <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">正體中文</a></span></p>
                        <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">天主教振聲高級中學(11年級)</a></span></p>
                        <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">0-6歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">7-9歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a></span></p>
                      </div>
                      <div class="col-md-6">
                        <div class="work-recommendation">
                          <h5>本月主打簡介</h5>
                          <p>可放置文字說明主打原因可放置文字說明主打原因可放置文字說明主打原因可放置文字說明主打原因</p>
                        </div>
                        <div class="work-review">
                          <h5>讀者閱讀心得</h5>
                          <p>閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><a class="carousel-control-prev" href="#content-one-carousel" data-slide="prev" role="button"><span class="carousel-control-prev-icon" aria-hidden="true"></span></a><a class="carousel-control-next" href="#content-one-carousel" data-slide="next" role="button"><span class="carousel-control-next-icon" aria-hidden="true"></span></a>
      </div>
    </div>
    <div class="tab-pane fade" id="content-two" role="tabpanel" aria-labelledby="content-two">
      <div class="tab-pane fade show active" id="content-two" role="tabpanel" aria-labelledby="content-two"></div>
      <div class="carousel slide" id="content-two-carousel" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card mb-3 no-border margin-tb-20px no-bt-margin">
              <div class="row no-gutters">
                <div class="col-md-4"><a class="carousel-book" href="book-single.html"><img src="images/book2.jpg"/></a></div>
                <div class="col-md-8">
                  <div class="card-body pd-bottom-0">
                    <div class="row">
                      <div class="col-md-6"><a class="card-title font-black font-large" href="book-single.html">我吃胖了</a>
                        <p class="work-type bg-red font-white pd-pill margin-bt-10px pill-radius">學生創作</p>
                        <p class="work-des"><span>作者</span><span>|</span><span>韋嫻亭，江秀玲，陳宥禎，黃子懿，王勤之，謝泓紜 </span></p>
                        <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">正體中文</a></span></p>
                        <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">天主教振聲高級中學(11年級)</a></span></p>
                        <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">0-6歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">7-9歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a></span></p>
                      </div>
                      <div class="col-md-6">
                        <div class="work-recommendation">
                          <h5>本月主打簡介</h5>
                          <p>可放置文字說明主打原因可放置文字說明主打原因可放置文字說明主打原因可放置文字說明主打原因</p>
                        </div>
                        <div class="work-review">
                          <h5>讀者閱讀心得</h5>
                          <p>閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card mb-3 no-border margin-tb-20px no-bt-margin">
              <div class="row no-gutters">
                <div class="col-md-4"><a class="carousel-book" href="book-single.html"><img src="images/book1.jpg"/></a></div>
                <div class="col-md-8">
                  <div class="card-body pd-bottom-0">
                    <div class="row">
                      <div class="col-md-6"><a class="card-title font-black font-large" href="book-single.html"></a>
                        <p class="work-type bg-red font-white pd-pill margin-bt-10px pill-radius">學生創作</p>
                        <p class="work-des"><span>作者</span><span>|</span><span>韋嫻亭，江秀玲，陳宥禎，黃子懿，王勤之，謝泓紜 </span></p>
                        <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">英文</a></span></p>
                        <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">國立中壢高級家事商業職業學校(應用外語科)</a></span></p>
                        <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">13-15歲</a></span></p>
                      </div>
                      <div class="col-md-6">
                        <div class="work-recommendation">
                          <h5>本月主打簡介</h5>
                          <p>可放置文字說明主打原因可放置文字說明主打原因可放置文字說明主打原因可放置文字說明主打原因</p>
                        </div>
                        <div class="work-review">
                          <h5>讀者閱讀心得</h5>
                          <p>閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><a class="carousel-control-prev" href="#content-two-carousel" data-slide="prev" role="button"><span class="carousel-control-prev-icon" aria-hidden="true"></span></a><a class="carousel-control-next" href="#content-two-carousel" data-slide="next" role="button"><span class="carousel-control-next-icon" aria-hidden="true"></span></a>
      </div>
    </div>
    <div class="tab-pane fade" id="content-three" role="tabpanel" aria-labelledby="content-three">
      <div class="tab-pane fade show active" id="content-three" role="tabpanel" aria-labelledby="content-three"></div>
      <div class="carousel slide" id="content-three-carousel" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card mb-3 no-border margin-tb-20px no-bt-margin">
              <div class="row no-gutters">
                <div class="col-md-4"><a class="carousel-book" href="book-single.html"><img src="images/book1.jpg"/></a></div>
                <div class="col-md-8">
                  <div class="card-body pd-bottom-0">
                    <div class="row">
                      <div class="col-md-6"><a class="card-title font-black font-large" href="book-single.html"></a>
                        <p class="work-type bg-red font-white pd-pill margin-bt-10px pill-radius">學生創作</p>
                        <p class="work-des"><span>作者</span><span>|</span><span>韋嫻亭，江秀玲，陳宥禎，黃子懿，王勤之，謝泓紜 </span></p>
                        <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">英文</a></span></p>
                        <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">國立中壢高級家事商業職業學校(應用外語科)</a></span></p>
                        <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">13-15歲</a></span></p>
                      </div>
                      <div class="col-md-6">
                        <div class="work-recommendation">
                          <h5>本月主打簡介</h5>
                          <p>可放置文字說明主打原因可放置文字說明主打原因可放置文字說明主打原因可放置文字說明主打原因</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card mb-3 no-border margin-tb-20px no-bt-margin">
              <div class="row no-gutters">
                <div class="col-md-4"><a class="carousel-book" href="book-single.html"><img src="images/book1.jpg"/></a></div>
                <div class="col-md-8">
                  <div class="card-body pd-bottom-0">
                    <div class="row">
                      <div class="col-md-6"><a class="card-title font-black font-large" href="book-single.html"></a>
                        <p class="work-type bg-red font-white pd-pill margin-bt-10px pill-radius">學生創作</p>
                        <p class="work-des"><span>作者</span><span>|</span><span>韋嫻亭，江秀玲，陳宥禎，黃子懿，王勤之，謝泓紜 </span></p>
                        <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">英文</a></span></p>
                        <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">國立中壢高級家事商業職業學校(應用外語科)</a></span></p>
                        <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">13-15歲</a></span></p>
                      </div>
                      <div class="col-md-6">
                        <div class="work-recommendation">
                          <h5>本月主打簡介</h5>
                          <p>可放置文字說明主打原因可放置文字說明主打原因可放置文字說明主打原因可放置文字說明主打原因</p>
                        </div>
                        <div class="work-review">
                          <h5>讀者閱讀心得</h5>
                          <p>閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><a class="carousel-control-prev" href="#content-three-carousel" data-slide="prev" role="button"><span class="carousel-control-prev-icon" aria-hidden="true"></span></a><a class="carousel-control-next" href="#content-three-carousel" data-slide="next" role="button"><span class="carousel-control-next-icon" aria-hidden="true"></span></a>
      </div>
    </div>
    <div class="tab-pane fade" id="content-four" role="tabpanel" aria-labelledby="content-four">
      <div class="tab-pane fade show active" id="content-four" role="tabpanel" aria-labelledby="content-four"></div>
      <div class="carousel slide" id="content-four-carousel" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card mb-3 no-border margin-tb-20px no-bt-margin">
              <div class="row no-gutters">
                <div class="col-md-4"><a class="carousel-book" href="book-single.html"><img src="images/book1.jpg"/></a></div>
                <div class="col-md-8">
                  <div class="card-body pd-bottom-0">
                    <div class="row">
                      <div class="col-md-6"><a class="card-title font-black font-large" href="book-single.html"></a>
                        <p class="work-type bg-red font-white pd-pill margin-bt-10px pill-radius">學生創作</p>
                        <p class="work-des"><span>作者</span><span>|</span><span>韋嫻亭，江秀玲，陳宥禎，黃子懿，王勤之，謝泓紜 </span></p>
                        <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">英文</a></span></p>
                        <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">國立中壢高級家事商業職業學校(應用外語科)</a></span></p>
                        <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">13-15歲</a></span></p>
                      </div>
                      <div class="col-md-6">
                        <div class="work-recommendation">
                          <h5>本月主打簡介</h5>
                          <p>可放置文字說明主打原因可放置文字說明主打原因可放置文字說明主打原因可放置文字說明主打原因</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card mb-3 no-border margin-tb-20px no-bt-margin">
              <div class="row no-gutters">
                <div class="col-md-4"><a class="carousel-book" href="book-single.html"><img src="images/book1.jpg"/></a></div>
                <div class="col-md-8">
                  <div class="card-body pd-bottom-0">
                    <div class="row">
                      <div class="col-md-6"><a class="card-title font-black font-large" href="book-single.html"></a>
                        <p class="work-type bg-red font-white pd-pill margin-bt-10px pill-radius">學生創作</p>
                        <p class="work-des"><span>作者</span><span>|</span><span>韋嫻亭，江秀玲，陳宥禎，黃子懿，王勤之，謝泓紜 </span></p>
                        <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">英文</a></span></p>
                        <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">國立中壢高級家事商業職業學校(應用外語科)</a></span></p>
                        <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">13-15歲</a></span></p>
                      </div>
                      <div class="col-md-6">
                        <div class="work-recommendation">
                          <h5>本月主打簡介</h5>
                          <p>可放置文字說明主打原因可放置文字說明主打原因可放置文字說明主打原因可放置文字說明主打原因</p>
                        </div>
                        <div class="work-review">
                          <h5>讀者閱讀心得</h5>
                          <p>閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><a class="carousel-control-prev" href="#content-four-carousel" data-slide="prev" role="button"><span class="carousel-control-prev-icon" aria-hidden="true"></span></a><a class="carousel-control-next" href="#content-four-carousel" data-slide="next" role="button"><span class="carousel-control-next-icon" aria-hidden="true"></span></a>
      </div>
    </div>
    <div class="tab-pane fade" id="content-five" role="tabpanel" aria-labelledby="content-five">
      <div class="tab-pane fade show active" id="content-five" role="tabpanel" aria-labelledby="content-five"></div>
      <div class="carousel slide" id="content-five-carousel" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card mb-3 no-border margin-tb-20px no-bt-margin">
              <div class="row no-gutters">
                <div class="col-md-4"><a class="carousel-book" href="book-single.html"><img src="images/book1.jpg"/></a></div>
                <div class="col-md-8">
                  <div class="card-body pd-bottom-0">
                    <div class="row">
                      <div class="col-md-6"><a class="card-title font-black font-large" href="book-single.html"></a>
                        <p class="work-type bg-red font-white pd-pill margin-bt-10px pill-radius">學生創作</p>
                        <p class="work-des"><span>作者</span><span>|</span><span>韋嫻亭，江秀玲，陳宥禎，黃子懿，王勤之，謝泓紜 </span></p>
                        <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">英文</a></span></p>
                        <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">國立中壢高級家事商業職業學校(應用外語科)</a></span></p>
                        <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">13-15歲</a></span></p>
                      </div>
                      <div class="col-md-6">
                        <div class="work-recommendation">
                          <h5>本月主打簡介</h5>
                          <p>可放置文字說明主打原因可放置文字說明主打原因可放置文字說明主打原因可放置文字說明主打原因</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card mb-3 no-border margin-tb-20px no-bt-margin">
              <div class="row no-gutters">
                <div class="col-md-4"><a class="carousel-book" href="book-single.html"><img src="images/book1.jpg"/></a></div>
                <div class="col-md-8">
                  <div class="card-body pd-bottom-0">
                    <div class="row">
                      <div class="col-md-6"><a class="card-title font-black font-large" href="book-single.html"></a>
                        <p class="work-type bg-red font-white pd-pill margin-bt-10px pill-radius">學生創作</p>
                        <p class="work-des"><span>作者</span><span>|</span><span>韋嫻亭，江秀玲，陳宥禎，黃子懿，王勤之，謝泓紜 </span></p>
                        <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">英文</a></span></p>
                        <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">國立中壢高級家事商業職業學校(應用外語科)</a></span></p>
                        <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">13-15歲</a></span></p>
                      </div>
                      <div class="col-md-6">
                        <div class="work-recommendation">
                          <h5>本月主打簡介</h5>
                          <p>可放置文字說明主打原因可放置文字說明主打原因可放置文字說明主打原因可放置文字說明主打原因</p>
                        </div>
                        <div class="work-review">
                          <h5>讀者閱讀心得</h5>
                          <p>閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><a class="carousel-control-prev" href="#content-five-carousel" data-slide="prev" role="button"><span class="carousel-control-prev-icon" aria-hidden="true"></span></a><a class="carousel-control-next" href="#content-five-carousel" data-slide="next" role="button"><span class="carousel-control-next-icon" aria-hidden="true"></span></a>
      </div>
    </div>
    <div class="tab-pane fade" id="content-six" role="tabpanel" aria-labelledby="content-six">
      <div class="tab-pane fade show active" id="content-six" role="tabpanel" aria-labelledby="content-six"></div>
      <div class="carousel slide" id="content-six-carousel" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card mb-3 no-border margin-tb-20px no-bt-margin">
              <div class="row no-gutters">
                <div class="col-md-4"><a class="carousel-book" href="book-single.html"><img src="images/book1.jpg"/></a></div>
                <div class="col-md-8">
                  <div class="card-body pd-bottom-0">
                    <div class="row">
                      <div class="col-md-6"><a class="card-title font-black font-large" href="book-single.html"></a>
                        <p class="work-type bg-red font-white pd-pill margin-bt-10px pill-radius">學生創作</p>
                        <p class="work-des"><span>作者</span><span>|</span><span>韋嫻亭，江秀玲，陳宥禎，黃子懿，王勤之，謝泓紜 </span></p>
                        <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">英文</a></span></p>
                        <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">國立中壢高級家事商業職業學校(應用外語科)</a></span></p>
                        <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">13-15歲</a></span></p>
                      </div>
                      <div class="col-md-6">
                        <div class="work-recommendation">
                          <h5>本月主打簡介</h5>
                          <p>可放置文字說明主打原因可放置文字說明主打原因可放置文字說明主打原因可放置文字說明主打原因</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card mb-3 no-border margin-tb-20px no-bt-margin">
              <div class="row no-gutters">
                <div class="col-md-4"><a class="carousel-book" href="book-single.html"><img src="images/book1.jpg"/></a></div>
                <div class="col-md-8">
                  <div class="card-body pd-bottom-0">
                    <div class="row">
                      <div class="col-md-6"><a class="card-title font-black font-large" href="book-single.html"></a>
                        <p class="work-type bg-red font-white pd-pill margin-bt-10px pill-radius">學生創作</p>
                        <p class="work-des"><span>作者</span><span>|</span><span>韋嫻亭，江秀玲，陳宥禎，黃子懿，王勤之，謝泓紜 </span></p>
                        <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">英文</a></span></p>
                        <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">國立中壢高級家事商業職業學校(應用外語科)</a></span></p>
                        <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">13-15歲</a></span></p>
                      </div>
                      <div class="col-md-6">
                        <div class="work-recommendation">
                          <h5>本月主打簡介</h5>
                          <p>可放置文字說明主打原因可放置文字說明主打原因可放置文字說明主打原因可放置文字說明主打原因</p>
                        </div>
                        <div class="work-review">
                          <h5>讀者閱讀心得</h5>
                          <p>閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><a class="carousel-control-prev" href="#content-six-carousel" data-slide="prev" role="button"><span class="carousel-control-prev-icon" aria-hidden="true"></span></a><a class="carousel-control-next" href="#content-six-carousel" data-slide="next" role="button"><span class="carousel-control-next-icon" aria-hidden="true"></span></a>
      </div>
    </div>
  </div>
</div>