
<div class="sites-wrap margin-lr-20px">
  <div class="sites-block border-bottom border-gray">
    <div class="sites-content margin-bt-10px"><a class="sites-title margin-bt-10px font-blue font-large" href="http://web.arte.gov.tw/100graphic-book/">全國學生圖畫書創作獎</a>
      <p class="font-medium">全國學生圖畫書創作獎由國立臺灣藝術教育館主辦，為獎勵兒童圖畫書創作，發掘及培育圖畫書創作人才，提昇國內圖畫書創作及教學，啟發學習藝術興趣，豐富兒童藝術涵養與想像力。得獎作品共分為(一)國小低年級組；(二)國小中年級組；(三)國小高年級組；(四)國中組；(五)高中（職）組；(六)大專組，每個組別各有3本得獎作品製作為繪本動畫。</p><a class="font-blue font-medium" href="http://web.arte.gov.tw/100graphic-book/">http://web.arte.gov.tw/100graphic-book/</a>
    </div>
  </div>
  <div class="sites-block border-bottom border-gray">
    <div class="sites-content margin-bt-10px"><a class="sites-title margin-bt-10px font-blue font-large" href="http://bookteller.nlpi.edu.tw/">布克聽聽</a>
      <p class="font-medium">布克聽聽是專為兒童所成立的數位閱讀學習服務平臺，內容匯集台、港、美、英、法等地知名出版社精選繪本，國內如天下、幼福、小魯、親親、遠東等，國外名家如美國前三大童書出版者Mathrew Price、前Disney動畫師Davy Liu、法國大師Andre Dahan等版權動畫加值後，搭配音樂及音效，成為動畫繪本。並可將內容下載於電腦、智慧型手機、MID等載具上。</p><a class="font-blue font-medium" href="http://bookteller.nlpi.edu.tw/">http://bookteller.nlpi.edu.tw/</a>
    </div>
  </div>
  <div class="sites-block border-bottom border-gray">
    <div class="sites-content margin-bt-10px"><a class="sites-title margin-bt-10px font-blue font-large" href="http://children.moc.gov.tw/">兒童文化館</a>
      <p class="font-medium">行政院文化部自1999年建置了「兒童文化館」網站，經由長期的線上繪本閱讀素材的累積，以及更具體地將文化主題相關的閱讀內容，製作成活潑又有互動性的動畫播放與遊戲，讓兒童能以輕鬆、活潑的方式來進行閱讀，進而培養閱讀習慣。因此，特別著重在創意與互動之表現上，經由創意與互動性的設計，讓兒童親近閱讀、喜愛閱讀、擁有對閱讀的熱情！</p><a class="font-blue font-medium" href="http://children.moc.gov.tw/">http://children.moc.gov.tw/</a>
    </div>
  </div>
  <div class="sites-block border-bottom border-gray">
    <div class="sites-content margin-bt-10px"><a class="sites-title margin-bt-10px font-blue font-large" href="http://amostory.dmtip.gov.tw/index.htm">阿莫說故事</a>
      <p class="font-medium">「阿莫說故事-台灣原住民口傳故事」收錄台灣原住民12族群60則普遍常見的故事，為國立臺灣史前文化博物館製作出版，歡迎大小朋友一起進入口傳故事精采的世界！網站嘗試以多媒體技術呈現臺灣原住民族口傳故事的樣貌，透過圖文並茂的動畫故事，使用者可以神遊在口傳故事精采的世界裡，領略口傳故事與族群歷史、社會人文的緊密關係。</p><a class="font-blue font-medium" href="http://amostory.dmtip.gov.tw/index.htm">http://amostory.dmtip.gov.tw/index.htm</a>
    </div>
  </div>
  <div class="sites-block border-bottom border-gray">
    <div class="sites-content margin-bt-10px"><a class="sites-title margin-bt-10px font-blue font-large" href="http://tbmc-1.nlpi.edu.tw/little_kiss/menu.php">親親文化 Little Kiss 電子書</a>
      <p class="font-medium">Little Kiss電子書由屢獲行政院新聞局獎項肯定之親親文化公司與漢珍公司合作出版。共分為10輯，50本書，內容涵蓋日常生活中的自然與人文領域的觀察與學習。專為三歲以上孩童編寫生活化的英文小故事，從書本影像中讓孩子體驗自然、融入自然，引發孩子學習的興趣。而專業英文配音員所錄製之旁白，是最好的學習示範，讓孩子可以輕鬆學英文。</p><a class="font-blue font-medium" href="http://tbmc-1.nlpi.edu.tw/little_kiss/menu.php">http://tbmc-1.nlpi.edu.tw/little_kiss/menu.php</a>
    </div>
  </div>
  <div class="sites-block border-bottom border-gray">
    <div class="sites-content margin-bt-10px"><a class="sites-title margin-bt-10px font-blue font-large" href="http://grimm.nlpi.edu.tw/first/">咕嚕熊共讀網電子書</a>
      <p class="font-medium">「咕嚕熊共讀網」整合網絡與多媒體專業資源，重新使用格林文化擁有的大量原創素材，經由多媒體技術編輯與動畫製作，賦予最初平面出版品新的生命。科技、美學與圖文內容的結合，以多元方式呈現，配合即時的互動空間，「咕嚕熊共讀網」為孩子們提供了一個充滿歡樂的學習環境，陪伴孩子渡過一段重要的成長時光。</p><a class="font-blue font-medium" href="http://grimm.nlpi.edu.tw/first/">http://grimm.nlpi.edu.tw/first/</a>
    </div>
  </div>
</div>