extend base/index-layout.pug

block script
	script(src='js/pagination.min.js')
	script.
		$(document).ready(function(){
			about();
		});
block main-content
	.mobile-menu
		button.mobile-menu-toggle.navbar-toggler
			span.navbar-toggler-icon
	.content.content-aside(style="margin-left:0px;")
		include layouts/about-layout.pug
block footer
	include components/footer.pug
