extend base/index-layout.pug

block script
	script(src='js/pagination.min.js')
	script.
		$(document).ready(function(){
			allBooks();
		});
block main-content
	.mobile-menu
		button.mobile-menu-toggle.navbar-toggler
			span.navbar-toggler-icon
	.content.content-aside(style="margin-left:0px;")
		include layouts/all-books-layout.pug
block footer
	include components/footer.pug
block bottom-script
	script.
		function openWindow(window_src) {
			window.open(window_src, 'newwindow', config='height=800, width=1200, '
		    + 'toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, '
		    + 'directories=no, status=no');
		}