extend base/index-layout.pug

block script
	script.
		$(document).ready(function(){
			bookSingle();
		});
block main-content
	#fb-root
	script( async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=494084387301329&autoLogAppEvents=1")
	.mobile-menu
		button.mobile-menu-toggle.navbar-toggler
			span.navbar-toggler-icon
	.content.content-aside(style="margin-left:0px;")
		include layouts/book-single-layout.pug
block footer
	include components/footer.pug
block bottom-script
	script.
		function openWindow(window_src) {
			window.open(window_src, 'newwindow', config='height=568, width=360, '
		    + 'toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, '
		    + 'directories=no, status=no');
		}