extend base/index-layout.pug

block script
	script(src='js/carousel-swipe.js')
	script.
		$(document).ready(function(){
			index();
		});
block main-content
	.mobile-menu
		button.mobile-menu-toggle.navbar-toggler
			span.navbar-toggler-icon
	.content.content-aside(style="margin-left:0px;")
		include components/news.pug
		include components/index-tab-carousel.pug
		include components/index-books.pug
block footer
	include components/footer.pug