extend base/index-layout.pug

block script
	script.
		$(document).ready(function(){
			newsListSingle();
		});
block main-content
	.mobile-menu
		button.mobile-menu-toggle.navbar-toggler
			span.navbar-toggler-icon
	.content.content-aside(style="margin-left:0px;")
		include layouts/newslist-single-layout.pug
block footer
	include components/footer.pug