extend base/playbook-base.pug

block script
	script(src='js/html2canvas.js')
	script.
		$(document).ready(function(){
			var blank_page = "";
			$.ajax({
		        contentType: "application/json; charset=utf-8",
		        url: "json/001.json",
		        dataType: "json"
		    }).done(function(data) {
		        console.log("[json] book_data.json loaded");
		        bgmusic = data.bgmusic;
		        dubbling_file = data.dubbling;
		        page_array = data.pages;
		        p_count = page_array.length;
		        var text_type_array = ["none", "text_ch", "text_py", "text_en"];
		        for (var i = 0; i < page_array.length; i++) {
		            for (var j = 0; j < text_type_array.length; j++) {
		                if (page_array[i][text_type_array[j]] == undefined || page_array[i][text_type_array[j]] == "") {
		                    page_array[i][text_type_array[j]] = blank_page
		                }
		            }
		        }
		        if (/Firefox/i.test(navigator.userAgent)) {
		            var reg = /(\w+)\.mp3/;
		            var matches;
		            if (bgmusic != "") {
		                bgmusic = bgmusic.replace(".mp3", ".ogg")
		            }
		            if (dubbling_file != "") {
		                dubbling_file = dubbling_file.replace(".mp3", ".ogg")
		            }
		            var file = "";
		            for (var i = 0; i < page_array.length; i++) {
		                if (page_array[i]["mp3"] != undefined && page_array[i]["mp3"].length > 0) {
		                    file = page_array[i]["mp3"][0]["file"];
		                    if (file != undefined && file != "") {
		                        page_array[i]["mp3"][0]["file"] = file.replace(".mp3", ".ogg")
		                    }
		                }
		            }
		        }
		        var accumulated_time = 0;
		        for (var i = 0; i < page_array.length; i++) {
		            if (page_array[i]["mp3"] != undefined && page_array[i]["mp3"].length > 0) {
		                page_array[i]["mp3"][0]["start_time"] = accumulated_time / 1000;
		                var soundlen = parseFloat(page_array[i]["mp3"][0]["len"]) * 1000;
		                accumulated_time += soundlen
		            }
		        }
		        var i = 0;
		        var img = page_array[i]["img"];
		        //- var text = page_array[i][current_text_type];
		        while (img == "") {
		            i++;
		            img = page_array[i]["img"];
		            //- var text = page_array[i][current_text_type]
		        }
		        console.log(img);
		        $("#right-img").attr("src", img);
		        //- $("#right-img").hide();
		        //- $("#page-img-text").attr("src", text);
		        $("#right-img-text").hide();
		        if (/iPad|iPhone|Android/i.test(navigator.userAgent)) {
		            $(".flipbookcontent, .interactioncontent").hide();
		            $("#btnPreload").show().on("click", function() {
		                //- loadMusic();
		                $("#btnPreload").remove()
		            })
		        } else {
		            $("#btnPreload, #btnStart").remove();
		            $("#wait_block").show();
		            //- loadMusic();
		            //- start()
		        }
		        //- if (!default_single) {
		        //-     togglePageMode()
		        //- }
		        $("#btnNextPage").click(function(){
			    	var img = page_array[i]["img"];
					$("#right-img").attr("src", img);
			    });
		    }).fail(function(jqXHR, textStatus, errorThrown) {
		        console.log("[json] book_data.js loading failed! " + textStatus + " " + errorThrown)
		    });

			$(".select-box__current").each(function() {
				$(this).click(function() {
					$(this).toggleClass('select-box__open');
				});
			});
			function imageResize() {
				var wh = $(window).height();
				var ww = $(window).width();
				var topMenuHeight = $(".top-menu").outerHeight();
				var bottomMenuHeight = $(".bottom-menu").outerHeight();
				var imageWidth = $(".image-placeholder").children().find("img").outerWidth();
				var imageHeight = $(".image-placeholder").outerHeight();
				$(".image-placeholder").children().find("img").height(wh - (topMenuHeight+bottomMenuHeight) - 30);
				if(imageWidth > ww) {
					$(".image-placeholder").children().find("img").css('width', '100%');
					$(".image-placeholder").children().find("img").css('height', 'auto');
				} else {
					$(".image-placeholder").children().find("img").css('width', 'auto');
				}

			}
			imageResize();
			$(window).resize(function() {
				imageResize();
			});
			$("#btnZoomIn").click(function() {
				window.resizeBy(100, 100);
			});
			$("#btnZoomOut").click(function() {
				var wh = $(window).height();
				if(wh > 500) {
					window.resizeBy(-100, -100);
				} else {
					return;
				}
			});
			$('#btnPrint').bind('click',function() {
				html2canvas(document.querySelector(".image-placeholder")).then(canvas => {
				    popup = window.open();
				    popup.document.write('<img src="' + canvas.toDataURL() + '" style="width:100%;" />');
				    setTimeout(function(){
						popup.focus();
						popup.print();
					}, 2000);
				});
			});
			$("#btnFullScreen").click(function() {
				$(this).toggleClass("active");
		    	$(this).trigger("switch");
			});
			$("#btnFullScreen").on("switch", function(){
				if ($(this).hasClass("active")) {
					$("#btnFullScreen>img").attr("src", "images/no-fullscreen.svg");
				} else {
					$("#btnFullScreen>img").attr("src", "images/fullscreen.svg");
				}
			});
			$("#btnPageMode").click(function() {
				$(this).toggleClass("active");
				$(this).trigger("switch");
			});
			$("#btnPageMode").on("switch", function(){
				var pageNum = $(".right-img img").attr("src");
				pageNum = pageNum.substring(0,pageNum.lastIndexOf("."));
				pageNum = pageNum.substr(-2, 2);
				if ($(this).hasClass("active")) {
					$("#btnPageMode>p").html("單頁");
					if(pageNum == "01");
				} else {
					$("#btnPageMode>p").html("跨頁");
				}
			});
		});
block main-content
	include layouts/playbook-layout.pug
block bottom-script
	script.
		function toggleFullScreen(elem) {
			if ((document.fullScreenElement !== undefined && document.fullScreenElement === null) || (document.msFullscreenElement !== undefined && document.msFullscreenElement === null) || (document.mozFullScreen !== undefined && !document.mozFullScreen) || (document.webkitIsFullScreen !== undefined && !document.webkitIsFullScreen)) {
				if (elem.requestFullScreen) {
					elem.requestFullScreen();
				} else if (elem.mozRequestFullScreen) {
					elem.mozRequestFullScreen();
				} else if (elem.webkitRequestFullScreen) {
					elem.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
				} else if (elem.msRequestFullscreen) {
					elem.msRequestFullscreen();
					}
				} else {
				if (document.cancelFullScreen) {
					document.cancelFullScreen();
				} else if (document.mozCancelFullScreen) {
					document.mozCancelFullScreen();
				} else if (document.webkitCancelFullScreen) {
					document.webkitCancelFullScreen();
				} else if (document.msExitFullscreen) {
					document.msExitFullscreen();
				}
			}
		}