extend base/playbook-base.pug

block script
	script(src='js/playbook.js')
	script(src='js/playbook-sound.js')
	//- script(src='https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.10/mediaelement-and-player.js')
	script(src='js/mediaelement.min.js')
	script(src='js/imagesLoaded.js')
	script(src='js/scrollPane.js')
	script(src='js/html2canvas.js')
	script.
		$(document).ready(function(){
			init({	width: 749,
					height: 1123,
					flip_delay: 5000,
					preload_all: true,
					bookdata_json_url: "json/002.json",
					text: "text_en",
					blank: "images/transparent.png",
					single_page_mode: true,
					margin: {top:120, bottom:50, left:30, right:30}	
				});
					
			$("#page_left_img, #page_right_img").on("beforeShow", function() {
				if ($(this).attr("src").indexOf(".jpg")<0) $(this).attr("src", "images/transparent.png");
			});
			$("#btnDubbling").remove();
			
			//列印
			//- $("#btnPrint").click(function(){

			//- 	$("#fp").children().remove();
			//- 	$("<input type='hidden' name='img_1' value='" + $("#page_left_img").attr("src") + "'>").appendTo("#fp");
			//- 	$("<input type='hidden' name='text_1' value='" + $("#page_left_text").attr("src") + "'>").appendTo("#fp");

			//- 	if ($("#page_right_img").is(":visible")) {
			//- 		$("<input type='hidden' name='img_2' value='" + $("#page_right_img").attr("src") + "'>").appendTo("#fp");
			//- 		$("<input type='hidden' name='text_2' value='" + $("#page_right_text").attr("src") + "'>").appendTo("#fp");
			//- 	}
				
			//- 	var print_win = window.open("", "print_win", "toolbar=no,menubar=no");
				
			//- 	$("#fp").submit();
			//- 	setTimeout(function(){
			//- 		print_win.focus();
			//- 		print_win.print();
			//- 	}, 2000);
			//- });
			$('#btnPrint').bind('click',function() {
				html2canvas(document.querySelector("#page_block")).then(canvas => {
				    popup = window.open();
				    popup.document.write('<div style="display: flex; justify-content: center; align-items: center; margin: auto; width: 90%; height: 90vh"><img src="https://i.imgur.com/Jvh1OQm.jpg" style="position:absolute; top:30%; left:30%; width: 200px;"><img src="' + canvas.toDataURL() + '" style="width: 100%;" /></div>');
				    setTimeout(function(){
						popup.focus();
						popup.print();
					}, 2000);
				});
			});
			//全螢幕
			$("#btnFullscreen").on("switch", function(){
				if ($(this).hasClass("active")) {
					$("#btnFullscreen>p>img").attr("src", "images/no-fullscreen.svg");
				} else {
					$("#btnFullscreen>p>img").attr("src", "images/fullscreen.svg");
				}
			});
			//單跨頁
			$("#btnPageMode").on("switch", function(){
				if ($(this).hasClass("active")) {
					$("#btnPageMode").html("<p>單頁<span>Single Page</span></p>");
				} else {
					$("#btnPageMode").html("<p>跨頁<span>Spread Page</span></p>");
				}
			});
			//背景音樂
			$("#btnSound").on("switch", function(){
				if ($(this).hasClass("active")) {
					$("#btnSound>img").attr("src", "images/speaker.svg");
				} else {
					$("#btnSound>img").attr("src", "images/no-speaker.svg");
				}
			});
			//旁白
			$("#btnSpeak").on("switch", function(){
				if ($(this).hasClass("active")) {
					$("#btnSpeak>img").attr("src", "images/speak.svg");
				} else {
					$("#btnSpeak>img").attr("src", "images/no-speak.svg");
				}
			});
			//自動播放
			$("#btnPlay").on("switch", function(){
				if ($(this).hasClass("active")) {
					$("#btnPlay>p>img").attr("src", "images/no-play.svg");
				} else {
					$("#btnPlay>p>img").attr("src", "images/play.svg");
				}
			});
				
			//字幕切換
			$("input[name='langSelect']").change(function(){
				changeTextType($(this).val());
			});
			//- changeTextType("text_ch");
			/*
			if(/iPad|iPhone|Android/i.test(navigator.userAgent)) {   
				$(".player_control .zoom").hide();
			}
			*/
			//- $(".select-box__current").each(function() {
			//- 	$(this).click(function() {
			//- 		$(this).toggleClass('select-box__open');
			//- 	});
			//- });
			//
		});
block main-content
	include layouts/playbook-layout.pug
block bottom-script
