extend base/playbook-base.pug

block script
	script.
block main-content
	include layouts/video-layout.pug
block bottom-script
	block bottom-script
	script.
		function openWindow(window_src) {
			window.open(window_src, 'newwindow', config='height=800, width=1200, '
		    + 'toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, '
		    + 'directories=no, status=no');
		}
		var $video  = $('video'),
		$window = $(window);

		$(window).resize(function(){
			var height = $window.height();
			$video.css('height', height);

			var videoWidth = $video.width(),
			windowWidth = $window.width(),
			marginLeftAdjust =   (windowWidth - videoWidth) / 2;

			$video.css({
				'height': height,
				'marginLeft' : marginLeftAdjust
			});
		}).resize();