.faq {
	margin-top: 60px;
	.card-header {
		button {
			background: none;
			color: $blue;
			font-size: $root;
			border: none;
			width: 100%;
			text-align: left;
			&:focus {
				outline: none;
				box-shadow: none;
			}
		}
	}
	.card-body {
		.faq-answer {
			font-size: $medium;
			padding: 0.375rem 0.75rem;
			position: relative;
			&:before {
				content: 'A：';
				display: block;
				position: absolute;
			}
			div {
				padding-left: 30px;
			}
		}
	}
}