#footer {
	padding: 20px 16px;
	width: 100%;
	.footer-top {
		display: block;
		.footer-logo {
			width: 100%;
			max-width: 120px;
			margin-bottom: 20px;
		}
		.footer-info {
			display: block;
			span, a {
				display: block;
			}
		}
	}
}