.left-menu {
	// display: flex;
	// flex-wrap: wrap;
	// justify-content: space-between;
	max-width: 200px;
	background: $borderGray;
	border-right: 1px solid $borderGray;
	@include transition(all .3s);
}
.left-menu.menu__close {
	// display: none;
	position: fixed;
	left: -400px;
	height: 100%;
	z-index: 2;
	overflow: auto;
	-webkit-box-shadow: 3px 0px 5px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 0px 5px 0 rgba(0,0,0,0.3);
	box-shadow: 3px 0px 5px 0 rgba(0,0,0,0.3);
}
.menu__open {
	left: 0!important;
}

.menu-aside {
	width: 100%;
	max-width: 200px;
	// height: 100%;
	background: white;
	.logo {
		width: 100%;
		max-width: 60px;
		display: none;
		@include for-tablet-landscape-up {
			display: block;
			max-width: 100px;
		}
		a {
			display: block;
			padding: 0;
		}
	}
	#navbarNav {
		flex-direction: column;
		position: relative;
		.nav {
			align-self: flex-start;
			margin-top: 100px;
			@include for-tablet-landscape-up {
				margin-top: 0;
			}
		}
		.form-inline {
			position: absolute;
			top: 0;
			@include for-tablet-landscape-up {
				position: relative;
			}
		}
		.accordion-title {
			button {
				padding: 10px 15px;
				text-decoration: none;
				background: $orange;
				color: white;
				&:hover {
					background: $orange;
					color: white;
				}
			}
			.collapsed {
				background: none;
				color: black;
			}
		}
		.sub-menu {
			padding-left: 10px;
			.accordion-subtitle {
				button {
					text-decoration: none;
					color: $orange;
					position: relative;
					&:hover {
						color: $orange;
					}
					&:after {
						content: '\032D';
						display: block;
						position: absolute;
						right: -15px;
						font-size: 1.5em;
						top: -.5em;
					}
				}
				.collapsed {
					color: black;
					&:after {
						content: '\032C';
					}
				}
				.default-collapse {
					color: black;
				}
			}
			.accordionMenu {
				a {
					position: relative;
					display: inline-block;
					padding: .5em 1em .5em 1.5em;
					&:after {
						content: '';
						display: block;
						height: 1px;
						width: 100%;
						@include transition(all .3s);
					}
					&:hover {
						color: black;
						&:after {
							background: $orange;
						}
					}
				}
			}
		}
	}
	.award-img {
		text-align: center;
		img {
			width: 100%;
		}
	}
}