.newslist-wrap, .news-single {
	margin-top: 60px;
	.news-block {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 40px;
		.news-date {
			width: 100%;
		}
		.news-content {
			.news-title {
				display: block;
			}
			.news-more {
				display: block;
				text-align: right;
			}
		}
	}
}