.playbook {
	width: 100%;
	.top-menu, .bottom-menu, .topMenu {
		display: flex;
		justify-content: space-between;
		width: 100%;
		flex-wrap: wrap;
		padding: 1em 0;
	}
	.bottom-menu {
		justify-content: center;
	}
	.preload-btn {
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: flex-start;
		margin-top: 20px;
		button {
			padding: 10px 15px;
			border: 1px solid $orange;
			p {
				margin-bottom: 0;
				color: $orange;
			}
		}
	}
	.top-tool, .player-control {
		button {
			outline: none;
			img {
				width: 35px;
			}
			p {
				border: 1px solid $orange;
				padding: 10px;
				margin-bottom: 0;
				color: $orange;
				@include transition(all .3s);
				span {
					display: block;
					font-size: 10px;
				}
			}
			&:hover {
				p {
					color: white;
					background: $orange;
				}
			}
		}
		&_next-page {
			min-width: 135px;
			p {
				padding-right: 30px!important;
				position: relative;
				&:after {
					display: block;
					position: absolute;
					top: 15px;
					right: 10px;
					background: url(../images/next-page.svg) no-repeat 5px 1px;
					background-size: 25px 25px;
					vertical-align: text-bottom;
					width: 25px;
					height: 25px;
					content: '';
				}
			}
			&:hover {
				p {
					&:after {
						content: '';
						background: url(../images/next-page-hover.svg) no-repeat 5px 1px;
						background-size: 25px 25px;
						vertical-align: text-bottom;
						width: 25px;
						height: 25px;
					}
				}
			}
		}
		&_prev-page {
			min-width: 135px;
			p {
				padding-left: 30px!important;
				position: relative;
				&:before {
					display: block;
					position: absolute;
					top: 15px;
					left: 10px;
					background: url(../images/prev-page.svg) no-repeat -5px 1px;
					background-size: 25px 25px;
					vertical-align: text-bottom;
					width: 25px;
					height: 25px;
					content: '';
				}
			}
			&:hover {
				p {
					&:before {
						content: '';
						background: url(../images/prev-page-hover.svg) no-repeat -5px 1px;
						background-size: 25px 25px;
						vertical-align: text-bottom;
						width: 25px;
						height: 25px;
					}
				}
			}
		}
		&_fullscreen, &_autoplay {
			@include for-740-up {
				width: auto;
			}
			p {
				background: $orange;
				padding: 3px 10px!important;
			}
		}
		.select-box {
			position: relative;
		    display: block;
		    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
		    font-size: 16px;
		    color: #60666d;
		   	margin-left: auto;
		   	margin-right: 1em;
		   	z-index: 50;
		    &__current {
		      position: relative;
		      box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
		      cursor: pointer;
		      outline: none;
		      width: auto;
		      min-width: 150px;
		      &:focus {
		        & + .select-box__list {
		          opacity: 1;

		          // We have to set "animation-name: none;" to make the list visible (read below how it works)

		          animation-name: none;
		          
		          .select-box__option {
		            cursor: pointer;
		          }
		        }
		        
		        .select-box__icon {
		          transform: translateY(-50%) rotate(180deg);
		        }
		      }
		    }
		    &__open {
		      & + .select-box__list {
		          opacity: 1;

		          animation-name: none;
		          
		          .select-box__option {
		            cursor: pointer;
		            margin-bottom: 0;
		          }
		        }
		        
		        .select-box__icon {
		          transform: translateY(-50%) rotate(180deg);
		        }
		    }
		    
		    &__icon {
		      position: absolute;
		      top: 50%;
		      right: 15px;
		      transform: translateY(-50%);
		      width: 20px;
		      opacity: 0.3;
		      transition: 0.2s ease;
		    }
		    
		    &__value {
		      display: flex;
		    }
		    
		    &__input {
		      display: none;
		      
		      &:checked + .select-box__input-text {
		        display: block;
		      }
		    }
		    
		    &__input-text {
		      display: none;
		      width: 100%;
		      margin: 0;
		      padding: 15px 40px 15px 15px;
		      background-color: #fff;
		    }
		    
		    &__list {
		      position: absolute;
		      width: 100%;
		      padding: 0;
		      list-style: none;
		      opacity: 0;
		      margin-top: 10px;
		      z-index: 3;
		      background: white;
		      animation-name: HideList;
		      animation-duration: 0.5s;
		      animation-delay: 0.5s;
		      animation-fill-mode: forwards;
		      animation-timing-function: step-start;
		      box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
		    }
		    
		    &__option {
		      display: block;
		      padding: 15px;
		      background-color: #fff;
		      
		      &:hover,
		      &:focus {
		        color: white;
		        background-color: #d56a4f;
		      }
		    }
		  }

		  @keyframes HideList {
		    from {
		      transform: scaleY(1);
		    }
		    to {
		      transform: scaleY(0);
		    }
		  }
	}
	.player-control {
		button {
			margin-bottom: 20px;
		}
	}
	.image-placeholder, .picHolder {
		width: 100%;
		border-top: 1px solid $borderGray;
		border-bottom: 1px solid $borderGray;
		display: flex;
		.left-img, .right-img {
			width: auto;
			height: auto;
			margin: 0 auto;
			background: white;
			img {
				width: auto;
				height: auto;
			}
		}
		.left-img {

		}
		.right-img {

		}
		.empty-placeholder {
			display: none;
		}
	}
}

#page_block_container.overflow-important {
	overflow: scroll!important;
}
