
<h1 class="font-orange margin-lr-20px margin-tb-20px">繪本列表 - <span class="filter-title">學生作品</span></h1>
<div class="title-divider"></div>
<button class="filter-button font-white pill-border-orange bg-orange">篩選</button>
<div class="filter-form">
  <div class="select-wrap">
        <div class="select-box">
          <div class="select-box__current" tabindex="1">
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="c1" value="" name="特色"/>
              <p class="select-box__input-text">繪本特色：選項</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="c2" value="學生創作" name="特色" checked="checked"/>
              <p class="select-box__input-text">學生創作</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="c3" value="地方特色" name="特色"/>
              <p class="select-box__input-text">地方特色</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="c4" value="優賞作品" name="特色"/>
              <p class="select-box__input-text">優賞作品</p>
            </div><img class="select-box__icon" src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
          </div>
          <ul class="select-box__list">
            <li>
              <label class="select-box__option" for="c1" aria-hidden="aria-hidden">繪本特色：選項</label>
            </li>
            <li>
              <label class="select-box__option" for="c2" aria-hidden="aria-hidden">學生創作</label>
            </li>
            <li>
              <label class="select-box__option" for="c3" aria-hidden="aria-hidden">地方特色</label>
            </li>
            <li>
              <label class="select-box__option" for="c4" aria-hidden="aria-hidden">優賞作品</label>
            </li>
          </ul>
        </div>
        <div class="select-box">
          <div class="select-box__current" tabindex="1">
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="theme1" value="" name="主題" checked="checked"/>
              <p class="select-box__input-text">繪本主題：選項</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="theme2" value="人權教育" name="主題" checked="checked"/>
              <p class="select-box__input-text">人權教育</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="theme3" value="健康與體育" name="主題" checked="checked"/>
              <p class="select-box__input-text">健康與體育</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="theme4" value="多元文化教育" name="主題" checked="checked"/>
              <p class="select-box__input-text">多元文化教育</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="theme5" value="家政教育" name="主題" checked="checked"/>
              <p class="select-box__input-text">家政教育</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="theme6" value="性別平等" name="主題" checked="checked"/>
              <p class="select-box__input-text">性別平等</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="theme7" value="數學" name="主題" checked="checked"/>
              <p class="select-box__input-text">數學</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="theme8" value="家政教育" name="主題" checked="checked"/>
              <p class="select-box__input-text">家政教育</p>
            </div><img class="select-box__icon" src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
          </div>
          <ul class="select-box__list">
            <li>
              <label class="select-box__option" for="theme1" aria-hidden="aria-hidden">繪本主題：選項</label>
            </li>
            <li>
              <label class="select-box__option" for="theme2" aria-hidden="aria-hidden">人權教育</label>
            </li>
            <li>
              <label class="select-box__option" for="theme3" aria-hidden="aria-hidden">健康與體育</label>
            </li>
            <li>
              <label class="select-box__option" for="theme4" aria-hidden="aria-hidden">多元文化教育</label>
            </li>
            <li>
              <label class="select-box__option" for="theme5" aria-hidden="aria-hidden">家政教育</label>
            </li>
            <li>
              <label class="select-box__option" for="theme6" aria-hidden="aria-hidden">性別平等</label>
            </li>
            <li>
              <label class="select-box__option" for="theme7" aria-hidden="aria-hidden">數學</label>
            </li>
            <li>
              <label class="select-box__option" for="theme8" aria-hidden="aria-hidden">家政教育</label>
            </li>
          </ul>
        </div>
        <div class="select-box">
          <div class="select-box__current" tabindex="1">
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="age1" value="" name="適讀年齡" checked="checked"/>
              <p class="select-box__input-text">適讀年齡：選項</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="age2" value="0-6歲" name="適讀年齡" checked="checked"/>
              <p class="select-box__input-text">0-6歲</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="age3" value="7-9歲" name="適讀年齡" checked="checked"/>
              <p class="select-box__input-text">7-9歲</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="age4" value="10-12歲" name="適讀年齡" checked="checked"/>
              <p class="select-box__input-text">10-12歲</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="age5" value="13-15歲" name="適讀年齡" checked="checked"/>
              <p class="select-box__input-text">13-15歲</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="age6" value="16歲以上" name="適讀年齡" checked="checked"/>
              <p class="select-box__input-text">16歲以上</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="age7" value="全齡適用" name="適讀年齡" checked="checked"/>
              <p class="select-box__input-text">全齡適用</p>
            </div><img class="select-box__icon" src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
          </div>
          <ul class="select-box__list">
            <li>
              <label class="select-box__option" for="age1" aria-hidden="true">適讀年齡：選項</label>
            </li>
            <li>
              <label class="select-box__option" for="age2" aria-hidden="true">0-6歲</label>
            </li>
            <li>
              <label class="select-box__option" for="age3" aria-hidden="true">7-9歲</label>
            </li>
            <li>
              <label class="select-box__option" for="age4" aria-hidden="true">10-12歲</label>
            </li>
            <li>
              <label class="select-box__option" for="age5" aria-hidden="true">13-15歲</label>
            </li>
            <li>
              <label class="select-box__option" for="age6" aria-hidden="true">16歲以上</label>
            </li>
            <li>
              <label class="select-box__option" for="age7" aria-hidden="true">全齡適用</label>
            </li>
          </ul>
        </div>
        <div class="select-box">
          <div class="select-box__current" tabindex="1">
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="year1" value="" name="上架年度" checked="checked"/>
              <p class="select-box__input-text">上架年度：選項</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="year2" value="2011" name="上架年度" checked="checked"/>
              <p class="select-box__input-text">2011</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="year3" value="2012" name="上架年度" checked="checked"/>
              <p class="select-box__input-text">2012</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="year4" value="2013" name="上架年度" checked="checked"/>
              <p class="select-box__input-text">2013</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="year5" value="2014" name="上架年度" checked="checked"/>
              <p class="select-box__input-text">2014</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="year6" value="2015" name="上架年度" checked="checked"/>
              <p class="select-box__input-text">2015</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="year7" value="2016" name="上架年度" checked="checked"/>
              <p class="select-box__input-text">2016</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="year8" value="2017" name="上架年度" checked="checked"/>
              <p class="select-box__input-text">2017</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="year9" value="2018" name="上架年度" checked="checked"/>
              <p class="select-box__input-text">2018</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="year10" value="2019" name="上架年度" checked="checked"/>
              <p class="select-box__input-text">2019</p>
            </div><img class="select-box__icon" src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
          </div>
          <ul class="select-box__list">
            <li>
              <label class="select-box__option" for="year1" aria-hidden="aria-hidden">上架年度：選項</label>
            </li>
            <li>
              <label class="select-box__option" for="year2" aria-hidden="aria-hidden">2011</label>
            </li>
            <li>
              <label class="select-box__option" for="year3" aria-hidden="aria-hidden">2012</label>
            </li>
            <li>
              <label class="select-box__option" for="year4" aria-hidden="aria-hidden">2013</label>
            </li>
            <li>
              <label class="select-box__option" for="year5" aria-hidden="aria-hidden">2014</label>
            </li>
            <li>
              <label class="select-box__option" for="year6" aria-hidden="aria-hidden">2015</label>
            </li>
            <li>
              <label class="select-box__option" for="year7" aria-hidden="aria-hidden">2016</label>
            </li>
            <li>
              <label class="select-box__option" for="year8" aria-hidden="aria-hidden">2017</label>
            </li>
            <li>
              <label class="select-box__option" for="year9" aria-hidden="aria-hidden">2018</label>
            </li>
            <li>
              <label class="select-box__option" for="year10" aria-hidden="aria-hidden">2019</label>
            </li>
          </ul>
        </div>
        <div class="select-box">
          <div class="select-box__current" tabindex="1">
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="language1" value="" name="語言" checked="checked"/>
              <p class="select-box__input-text">語言：選項</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="language2" value="正體中文" name="語言" checked="checked"/>
              <p class="select-box__input-text">正體中文</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="language3" value="英文" name="語言" checked="checked"/>
              <p class="select-box__input-text">英文</p>
            </div><img class="select-box__icon" src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
          </div>
          <ul class="select-box__list">
            <li>
              <label class="select-box__option" for="language1" aria-hidden="aria-hidden">語言：選項</label>
            </li>
            <li>
              <label class="select-box__option" for="language2" aria-hidden="aria-hidden">正體中文</label>
            </li>
            <li>
              <label class="select-box__option" for="language3" aria-hidden="aria-hidden">英文</label>
            </li>
          </ul>
        </div>
        <div class="select-box">
          <div class="select-box__current" tabindex="1">
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="source1" value="" name="來源單位" checked="checked"/>
              <p class="select-box__input-text">來源單位：選項</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="source2" value="法務部矯正署" name="來源單位" checked="checked"/>
              <p class="select-box__input-text">法務部矯正署</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="source3" value="國立臺灣藝術教育館" name="來源單位" checked="checked"/>
              <p class="select-box__input-text">國立臺灣藝術教育館</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="source4" value="斗六會本部" name="來源單位" checked="checked"/>
              <p class="select-box__input-text">斗六會本部</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="source5" value="國立中壢高級家事商業職業學校" name="來源單位" checked="checked"/>
              <p class="select-box__input-text">國立中壢高級家事商業職業學校</p>
            </div><img class="select-box__icon" src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
          </div>
          <ul class="select-box__list">
            <li>
              <label class="select-box__option" for="source1" aria-hidden="aria-hidden">來源單位：選項</label>
            </li>
            <li>
              <label class="select-box__option" for="source2" aria-hidden="aria-hidden">法務部矯正署</label>
            </li>
            <li>
              <label class="select-box__option" for="source3" aria-hidden="aria-hidden">國立臺灣藝術教育館</label>
            </li>
            <li>
              <label class="select-box__option" for="source4" aria-hidden="aria-hidden">斗六會本部</label>
            </li>
            <li>
              <label class="select-box__option" for="source5" aria-hidden="aria-hidden">國立中壢高級家事商業職業學校</label>
            </li>
          </ul>
        </div>
  </div>
  <div class="filter-right-box">
    <div class="filter-checkbox-wrap">
      <input class="filter-checkbox" id="animation-check" type="checkbox" value="animation"/>
      <label for="animation-check">只要動畫</label>
    </div>
    <button class="btn filter-confirm" type="submit">GO</button>
  </div>
</div>
<div class="all-books-sort-wrap margin-tb-20px">
  <div class="sort-wrap"><span class="margin-lr-5px">共</span><span class="font-orange margin-lr-5px">774</span><span class="margin-lr-5px">筆</span></div>
  <div class="sort-wrap"><span class="margin-lr-5px">每頁</span>
        <div class="select-box">
          <div class="select-box__current" tabindex="1">
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="f1" value="10" name="sortFilter" checked="checked"/>
              <p class="select-box__input-text">10</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="f2" value="20" name="sortFilter" checked="checked"/>
              <p class="select-box__input-text">20</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="f3" value="30" name="sortFilter" checked="checked"/>
              <p class="select-box__input-text">30</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="f4" value="40" name="sortFilter" checked="checked"/>
              <p class="select-box__input-text">40</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="f5" value="50" name="sortFilter" checked="checked"/>
              <p class="select-box__input-text">50</p>
            </div><img class="select-box__icon" src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
          </div>
          <ul class="select-box__list">
            <li>
              <label class="select-box__option" for="f1" aria-hidden="aria-hidden">10</label>
            </li>
            <li>
              <label class="select-box__option" for="f2" aria-hidden="aria-hidden">20</label>
            </li>
            <li>
              <label class="select-box__option" for="f3" aria-hidden="aria-hidden">30</label>
            </li>
            <li>
              <label class="select-box__option" for="f4" aria-hidden="aria-hidden">40</label>
            </li>
            <li>
              <label class="select-box__option" for="f5" aria-hidden="aria-hidden">50</label>
            </li>
          </ul>
        </div><span class="margin-lr-5px">筆</span>
  </div>
  <div class="sort-wrap"><span class="margin-lr-5px">排序:</span><a class="margin-lr-5px sort-active" href="#">近期熱門程度</a><span class="margin-lr-5px">|</span><a class="margin-lr-5px" href="#">上架時間</a></div>
</div>
<div class="pagination-wrap" id="all-books-pagination-container">
  <div class="paginationjs">
    <div class="paginationjs-pages">
      <ul>
        <li class="paginationjs-prev disabled"><a>«</a></li>
        <li class="paginationjs-page J-paginationjs-page active" data-num="1"><a>1</a></li>
        <li class="paginationjs-page J-paginationjs-page" data-num="2"><a href="">2</a></li>
        <li class="paginationjs-page J-paginationjs-page" data-num="3"><a href="">3</a></li>
        <li class="paginationjs-page J-paginationjs-page" data-num="4"><a href="">4</a></li>
        <li class="paginationjs-next J-paginationjs-next" data-num="2" title="Next page"><a href="">»</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="all-books-card-wrap margin-tb-20px">
    <div class="card book-card margin-lr-10px margin-bt-20px">
      <p class="book-lang font-white font-medium bg-orange">中</p><a href="book-single.html"><img class="border-bottom border-gray" src="images/book2.jpg"/></a>
      <div class="card-body">
        <p class="work-type bg-orange font-white pd-pill margin-bt-10px pill-radius bg-orange">學生創作</p><a class="card-title font-red font-large font-s-medium" href="#">壞脾氣的蕾蕾</a>
        <p class="work-author font-small">王筠涵，高鈺婷</p>
        <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">正體中文</a></span></p>
        <p class="work-des"><span>主題</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">家政教育</a></span></p>
        <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">明道中學(12年級)</a></span></p>
        <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">0-6歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">7-9歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a></span></p>
        <p class="work-des"><span>指導老師</span><span>|</span><span>莊玉鈴</span></p>
        <p class="work-des"><span>上架時間</span><span>|</span><span>2012-11-03</span></p>
        <p class="work-des"><span>總點閱率</span><span>|</span><span>繪本106,472次 ，動畫108,357次</span></p>
        <div class="book-links"><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="#">閱讀繪本</a><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="" onclick="openWindow('video.html');">看動畫</a></div>
      </div>
    </div>
    <div class="card book-card margin-lr-10px margin-bt-20px">
      <p class="book-lang font-white font-medium bg-orange">中</p><a href="book-single.html"><img class="border-bottom border-gray" src="images/book2.jpg"/></a>
      <div class="card-body">
        <p class="work-type bg-orange font-white pd-pill margin-bt-10px pill-radius bg-orange">學生創作</p><a class="card-title font-red font-large font-s-medium" href="#">我髒髒的手</a>
        <p class="work-author font-small">黃閔萱</p>
        <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">正體中文</a></span></p>
        <p class="work-des"><span>主題</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">健康與體育</a></span></p>
        <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">明道中學(11年級)</a></span></p>
        <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">0-6歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">7-9歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a></span></p>
        <p class="work-des"><span>指導老師</span><span>|</span><span>莊玉鈴</span></p>
        <p class="work-des"><span>上架時間</span><span>|</span><span>2012-11-03</span></p>
        <p class="work-des"><span>總點閱率</span><span>|</span><span>繪本106,472次</span></p>
        <div class="book-links"><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="#">閱讀繪本</a><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="" onclick="openWindow('video.html');">看動畫</a></div>
      </div>
    </div>
    <div class="card book-card margin-lr-10px margin-bt-20px">
      <p class="book-lang font-white font-medium bg-blue">英</p><a href="book-single.html"><img class="border-bottom border-gray" src="images/book2.jpg"/></a>
      <div class="card-body">
        <p class="work-type bg-orange font-white pd-pill margin-bt-10px pill-radius bg-orange">地方特色</p><a class="card-title font-red font-large font-s-medium" href="#">Remember Me</a>
        <p class="work-author font-small">Kai-Ting Siao，Siew-Feng Thiah</p>
        <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">正體中文</a></span></p>
        <p class="work-des"><span>主題</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">英文</a></span></p>
        <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">斗六繪本館</a></span></p>
        <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">0-6歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">7-9歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a></span></p>
        <p class="work-des"><span>指導老師</span><span>|</span><span>莊玉鈴</span></p>
        <p class="work-des"><span>上架時間</span><span>|</span><span>2014-10-01</span></p>
        <p class="work-des"><span>總點閱率</span><span>|</span><span>繪本837次</span></p>
        <div class="book-links"><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="#">閱讀繪本</a><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="" onclick="openWindow('video.html');">看動畫</a></div>
      </div>
    </div>
    <div class="card book-card margin-lr-10px margin-bt-20px">
      <p class="book-lang font-white font-medium bg-blue">英</p><a href="book-single.html"><img class="border-bottom border-gray" src="images/book2.jpg"/></a>
      <div class="card-body">
        <p class="work-type bg-orange font-white pd-pill margin-bt-10px pill-radius bg-orange">學生創作</p><a class="card-title font-red font-large font-s-medium" href="#">Where? Where? Where Are My Friends?</a>
        <p class="work-author font-small">韋嫻亭，江秀玲，陳宥禎，黃子懿，王勤之，謝泓紜</p>
        <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">正體中文</a></span></p>
        <p class="work-des"><span>主題</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">英文</a></span></p>
        <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">國立苑裡高級中學(二)</a></span></p>
        <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">0-6歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">7-9歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a></span></p>
        <p class="work-des"><span>指導老師</span><span>|</span><span>鄭孟淳、紀柔宇、林佳誼</span></p>
        <p class="work-des"><span>上架時間</span><span>|</span><span>2018-12-01</span></p>
        <p class="work-des"><span>總點閱率</span><span>|</span><span>繪本176次</span></p>
        <div class="book-links"><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="#">閱讀繪本</a><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="" onclick="openWindow('video.html');">看動畫</a></div>
      </div>
    </div>
    <div class="card book-card margin-lr-10px margin-bt-20px">
      <p class="book-lang font-white font-medium bg-orange">中</p><a href="book-single.html"><img class="border-bottom border-gray" src="images/book2.jpg"/></a>
      <div class="card-body">
        <p class="work-type bg-orange font-white pd-pill margin-bt-10px pill-radius bg-orange">優賞作品</p><a class="card-title font-red font-large font-s-medium" href="#">仁仁愛公園</a>
        <p class="work-author font-small">高德瑋</p>
        <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">正體中文</a></span></p>
        <p class="work-des"><span>主題</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">環境教育</a></span></p>
        <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">臺灣藝術教育館</a></span></p>
        <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">0-6歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">7-9歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a></span></p>
        <p class="work-des"><span>指導老師</span><span>|</span><span>鄭孟淳、紀柔宇、林佳誼</span></p>
        <p class="work-des"><span>上架時間</span><span>|</span><span>2018-12-01</span></p>
        <p class="work-des"><span>總點閱率</span><span>|</span><span>繪本176次</span></p>
        <div class="book-links"><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="#">閱讀繪本</a><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="" onclick="openWindow('video.html');">看動畫</a></div>
      </div>
    </div>
</div>
<div class="pagination-wrap" id="all-books-pagination-container">
  <div class="paginationjs">
    <div class="paginationjs-pages">
      <ul>
        <li class="paginationjs-prev disabled"><a>«</a></li>
        <li class="paginationjs-page J-paginationjs-page active" data-num="1"><a>1</a></li>
        <li class="paginationjs-page J-paginationjs-page" data-num="2"><a href="">2</a></li>
        <li class="paginationjs-page J-paginationjs-page" data-num="3"><a href="">3</a></li>
        <li class="paginationjs-page J-paginationjs-page" data-num="4"><a href="">4</a></li>
        <li class="paginationjs-next J-paginationjs-next" data-num="2" title="Next page"><a href="">»</a></li>
      </ul>
    </div>
  </div>
</div>