<a class="back-to-result" href="#" onclick="location.href = document.referrer; return false;">回上一頁</a>
<div class="book-detail">
  <div class="card mb-3 no-border margin-tb-20px bg-none">
    <div class="row no-gutters">
      <div class="col-md-3"><a href="#"><img class="book-card-img-pd" src="images/book1.jpg"/></a></div>
      <div class="col-md-9">
        <div class="card-body height100">
          <div class="row height100">
            <div class="col-md-6"><a class="card-title font-red font-large font-s-medium" href="#">Dylan's Teeth</a>
              <p class="work-type bg-red font-white pd-pill margin-bt-10px pill-radius">學生創作</p>
              <p class="work-des"><span>作者</span><span>|</span><span>韋嫻亭，江秀玲，陳宥禎，黃子懿，王勤之，謝泓紜 </span></p>
              <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border pill-border" href="#">英文</a></span></p>
              <p class="work-des"><span>主題</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border pill-border" href="#">英文</a></span></p>
              <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">國立中壢高級家事商業職業學校(應用外語科)</a></span></p>
              <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">13-15歲</a></span></p>
              <p class="work-des"><span>指導老師</span><span>|</span><span>劉惠琪</span></p>
              <p class="work-des"><span>上架時間</span><span>|</span><span>2016-09-29</span></p>
              <p class="work-des"><span>總點閱率</span><span>|</span><span>繪本198次</span></p>
            </div>
            <div class="col-md-6 read-book-wrap">
              <div class="read-book-btn-wrap"><a class="read-book-icon bg-light-orange font-white font-medium pd-pill pill-radius pill-border-light-orange" href="#" onclick="openWindow('playbook2.html');">閱讀繪本</a><a class="watch-anime-icon bg-light-orange font-white font-medium pd-pill pill-radius pill-border-light-orange" href="" onclick="openWindow('video.html');">看動畫</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="book-bottom pd-1em">
  <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
  <div class="book-summary">
    <p>這個故事以變通兩字貫穿全部，主角鐵匠因為過於專注工作而導致孤獨。直到他遇到貴人，才從職業的迷思中驚醒。 （本書由玉山文教基金會106年贊助印製）</p>
  </div>
  <ul class="nav nav-tabs" id="singleBookBottom" role="tablist">
    <li class="nav-item"><a class="nav-link active" id="tab-two" data-toggle="tab" href="#content-two" role="tab" aria-controls="content-two" aria-selected="false">相關學習資源</a></li>
    <li class="nav-item"><a class="nav-link" id="tab-one" data-toggle="tab" href="#content-one" role="tab" aria-controls="content-one" aria-selected="true">讀者閱讀心得</a></li>
  </ul>
  <div class="tab-content single-book-bottom-tab-content" id="singleBookBottomContent">
    <div class="single-book-tab tab-pane fade" id="content-one" role="tabpanel" aria-labelledby="content-one">
      <div class="single-book-tab__content">
        <p class="no-bt-margin">"閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得"</p>
        <div class="divider margin-tb-20px"></div>
        <p class="no-bt-margin">"閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得"</p>
      </div>
    </div>
    <div class="single-book-tab tab-pane fade show active" id="content-two" role="tabpanel" aria-labelledby="content-two">
      <div class="single-book-tab__content">
        <div class="resources-wrap">
          <div class="resources margin-bt-20px"><a href="#">【著色紙】變通<span>下載</span></a>
            <p class="no-bt-margin"><span>提供者</span><span>|</span><span>人</span></p>
            <p class="no-bt-margin"><span>適用年齡</span><span>|</span><span>3-5歲</span></p>
            <p class="no-bt-margin"><span>試用領域</span><span>|</span><span>領域</span></p>
            <p class="no-bt-margin"><span>授權方式</span><span>|</span><span><img src="images/cc_by.png"/></span></p>
          </div>
          <div class="resources margin-bt-20px"><a href="#">【著色紙】變通<span>下載</span></a>
            <p class="no-bt-margin"><span>提供者</span><span>|</span><span>人</span></p>
            <p class="no-bt-margin"><span>適用年齡</span><span>|</span><span>3-5歲</span></p>
            <p class="no-bt-margin"><span>試用領域</span><span>|</span><span>領域</span></p>
            <p class="no-bt-margin"><span>授權方式</span><span>|</span><span><img src="images/cc_by.png"/></span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>