
<h1 class="font-orange margin-lr-20px margin-tb-20px">公告訊息</h1>
<div class="title-divider"></div>
<div class="newslist-wrap margin-lr-20px">
  <div class="news-block border-bottom border-gray">
    <div class="news-date">
      <p class="font-medium">2019-01-24</p>
    </div>
    <div class="news-content margin-bt-10px"><a class="news-title margin-bt-10px font-blue font-medium" href="newslist-single.html">[新增121種繪本，歡迎閱讀！]</a>
      <p class="font-medium">原創繪本新增121種，由「振聲高中」、「竹崎高中」、「中崙高中」、「明道中學」、「靜修女中」、「佳林國中」、「苑裡高中」、「常春藤高中」、「中興高中」、「西苑高中」、「大墩國中」及「國立臺灣藝術教育館」學生所創作，歡迎閱讀。</p><a class="news-more font-blue font-medium" href="newslist-single.html">more</a>
    </div>
  </div>
  <div class="news-block border-bottom border-gray">
    <div class="news-date">
      <p class="font-medium">2018-08-30</p>
    </div>
    <div class="news-content margin-bt-10px"><a class="news-title margin-bt-10px font-blue font-medium" href="newslist-single.html">[恭賀!!!本館圓夢繪本資料庫獲第42屆金鼎獎]</a>
      <p class="font-medium">本資料庫與熊熊數位文化有限公司聯手合作，榮獲第42屆金鼎獎（政府出版品類），歡迎您可直接點擊首頁或各分類繪本進行閱讀。</p><a class="news-more font-blue font-medium" href="newslist-single.html">more</a>
    </div>
  </div>
</div>
<div class="pagination-wrap" id="news-pagination-container">
  <div class="paginationjs">
    <div class="paginationjs-pages">
      <ul>
        <li class="paginationjs-prev disabled"><a>«</a></li>
        <li class="paginationjs-page J-paginationjs-page active" data-num="1"><a>1</a></li>
        <li class="paginationjs-page J-paginationjs-page" data-num="2"><a href="">2</a></li>
        <li class="paginationjs-page J-paginationjs-page" data-num="3"><a href="">3</a></li>
        <li class="paginationjs-page J-paginationjs-page" data-num="4"><a href="">4</a></li>
        <li class="paginationjs-next J-paginationjs-next" data-num="2" title="Next page"><a href="">»</a></li>
      </ul>
    </div>
  </div>
</div>