
<div class="video-container">
  <video id="video" controls="controls" autoplay="autoplay" preload="metadata" poster="images/video-poster.png">
    <source src="video/77.mp4" type="video/mp4"/>
  </video>
</div>