button.filter-button.font-white.pill-border-orange.bg-orange 篩選
.filter-form
	.select-wrap
		mixin SelectBox(name, options)
			.select-box
				.select-box__current(tabindex="1")
					each option in options
						.select-box__value
							input.select-box__input(type="radio" id=option.id value=option.value name=name checked)
							p.select-box__input-text #{option.name}
					img.select-box__icon(src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true")
				ul.select-box__list
					each option in options
						li
							label.select-box__option(for=option.id aria-hidden="true") #{option.name}

		+SelectBox('特色', [
			{name: '繪本特色：選項', value: '', id: 'c1'}, 
			{name: '學生創作', value: '學生創作', id: 'c2'}, 
			{name: '地方特色', value: '地方特色', id: 'c3'}, 
			{name: '優賞作品', value: '優賞作品', id: 'c4'}
		])
		mixin SelectBox(name, options)
			.select-box
				.select-box__current(tabindex="1")
					each option in options
						.select-box__value
							input.select-box__input(type="radio" id=option.id value=option.value name=name checked)
							p.select-box__input-text #{option.name}
					img.select-box__icon(src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true")
				ul.select-box__list
					each option in options
						li
							label.select-box__option(for=option.id aria-hidden) #{option.name}

		+SelectBox('主題', [
			{name: '繪本主題：選項', value: '', id: 'theme1'}, 
			{name: '人權教育', value: '人權教育', id: 'theme2'}, 
			{name: '健康與體育', value: '健康與體育', id: 'theme3'}, 
			{name: '多元文化教育', value: '多元文化教育', id: 'theme4'},
			{name: '家政教育', value: '家政教育', id: 'theme5'},
			{name: '性別平等', value: '性別平等', id: 'theme6'},
			{name: '數學', value: '數學', id: 'theme7'},
			{name: '家政教育', value: '家政教育', id: 'theme8'}
		])
		mixin SelectBox3(name, options)
			.select-box
				.select-box__current(tabindex="1")
					each option in options
						.select-box__value
							input.select-box__input(type="radio" id=option.id value=option.value name=name checked)
							p.select-box__input-text #{option.name}
					img.select-box__icon(src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true")
				ul.select-box__list
					each option in options
						li
							label.select-box__option(for=option.id aria-hidden) #{option.name}

		+SelectBox3('適讀年齡', [
			{name: '適讀年齡：選項', value: '', id: 'age1'}, 
			{name: '0-6歲', value: '0-6歲', id: 'age2'}, 
			{name: '7-9歲', value: '7-9歲', id: 'age3'}, 
			{name: '10-12歲', value: '10-12歲', id: 'age4'},
			{name: '13-15歲', value: '13-15歲', id: 'age5'},
			{name: '16歲以上', value: '16歲以上', id: 'age6'},
			{name: '全齡適用', value: '全齡適用', id: 'age7'}
		])
		mixin SelectBox4(name, options)
			.select-box
				.select-box__current(tabindex="1")
					each option in options
						.select-box__value
							input.select-box__input(type="radio" id=option.id value=option.value name=name checked)
							p.select-box__input-text #{option.name}
					img.select-box__icon(src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true")
				ul.select-box__list
					each option in options
						li
							label.select-box__option(for=option.id aria-hidden) #{option.name}

		+SelectBox4('上架日期', [
			{name: '上架日期：選項', value: '', id: 'year1'}, 
			{name: '2011', value: '2011', id: 'year2'}, 
			{name: '2012', value: '2012', id: 'year3'}, 
			{name: '2013', value: '2013', id: 'year4'},
			{name: '2014', value: '2014', id: 'year5'},
			{name: '2015', value: '2015', id: 'year6'},
			{name: '2016', value: '2016', id: 'year7'},
			{name: '2017', value: '2017', id: 'year8'},
			{name: '2018', value: '2018', id: 'year9'},
			{name: '2019', value: '2019', id: 'year10'}
		])
		mixin SelectBox5(name, options)
			.select-box
				.select-box__current(tabindex="1")
					each option in options
						.select-box__value
							input.select-box__input(type="radio" id=option.id value=option.value name=name checked)
							p.select-box__input-text #{option.name}
					img.select-box__icon(src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true")
				ul.select-box__list
					each option in options
						li
							label.select-box__option(for=option.id aria-hidden) #{option.name}

		+SelectBox5('語言', [
			{name: '語言：選項', value: '', id: 'language1'}, 
			{name: '正體中文', value: '正體中文', id: 'language2'}, 
			{name: '英文', value: '英文', id: 'language3'}
		])
		mixin SelectBox5(name, options)
			.select-box
				.select-box__current(tabindex="1")
					each option in options
						.select-box__value
							input.select-box__input(type="radio" id=option.id value=option.value name=name checked)
							p.select-box__input-text #{option.name}
					img.select-box__icon(src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true")
				ul.select-box__list
					each option in options
						li
							label.select-box__option(for=option.id aria-hidden) #{option.name}

		+SelectBox5('來源單位', [
			{name: '來源單位：選項', value: '', id: 'source1'}, 
			{name: '法務部矯正署', value: '法務部矯正署', id: 'source2'}, 
			{name: '國立臺灣藝術教育館', value: '國立臺灣藝術教育館', id: 'source3'}, 
			{name: '斗六會本部', value: '斗六會本部', id: 'source4'}, 
			{name: '國立中壢高級家事商業職業學校', value: '國立中壢高級家事商業職業學校', id: 'source5'}
		])
	.filter-right-box
		.filter-checkbox-wrap
			input#animation-check.filter-checkbox(type="checkbox" value="animation")
			label(for="animation-check") 只要動畫
		button.btn.filter-confirm(type="submit") GO
