mixin bookCard(options)
	each option in options
		.card.book-card.margin-lr-10px.margin-bt-20px
			p.book-lang.font-white.font-medium(class=option.langBG) #{option.lang}
			a(href="book-single.html")
				img(src="images/book2.jpg").border-bottom.border-gray
			.card-body
				p.work-type.bg-orange.font-white.pd-pill.margin-bt-10px.pill-radius(class=option.typeBG) #{option.type}
				a(href="#").card-title.font-red.font-large.font-s-medium #{option.title}
				p.work-author.font-small #{option.author}
				p.work-des
					span 語言
					span |
					span
						a(href="#").bg-light-green.font-black.pd-sm-pill.pill-radius.pill-border #{option.bookLang}
				p.work-des
					span 主題
					span |
					span
						a(href="#").bg-light-green.font-black.pd-sm-pill.pill-radius.pill-border #{option.theme}
				p.work-des
					span 來源
					span |
					span
						a(href="#").bg-light-green.font-black.pd-sm-pill.pill-radius.pill-border #{option.source}
				p.work-des
					span 適讀年齡
					span |
					span
						a(href="#").bg-light-green.font-black.pd-sm-pill.pill-radius.pill-border #{option.age}
						a(href="#").bg-light-green.font-black.pd-sm-pill.pill-radius.pill-border #{option.age2}
						a(href="#").bg-light-green.font-black.pd-sm-pill.pill-radius.pill-border #{option.age3}
				p.work-des
					span 指導老師
					span |
					span #{option.teacher}
				p.work-des
					span 上架時間
					span |
					span #{option.time}
				p.work-des
					span 總點閱率
					span |
					span #{option.clicks}
				.book-links
					a(href="#").bg-light-orange.font-white.pd-pill.font-large.pill-radius 閱讀繪本
					a(href="" onclick="openWindow('video.html');").bg-light-orange.font-white.pd-pill.font-large.pill-radius 看動畫
+bookCard([
	{langBG: 'bg-orange', lang: '中', typeBG: 'bg-orange', type: '學生創作', title: '壞脾氣的蕾蕾', author: '王筠涵，高鈺婷', bookLang: '正體中文', theme: '家政教育', age: '0-6歲', age2: '7-9歲', age3: '10-12歲', source: '明道中學(12年級)', teacher: '莊玉鈴', time: '2012-11-03', clicks: '繪本106,472次 ，動畫108,357次'},{langBG: 'bg-orange', lang: '中', typeBG: 'bg-orange', type: '學生創作', title: '我髒髒的手', author: '黃閔萱', bookLang: '正體中文', theme: '健康與體育', age: '0-6歲', age2: '7-9歲', age3: '10-12歲', source: '明道中學(11年級)', teacher: '莊玉鈴', time: '2012-11-03', clicks: '繪本106,472次'},{langBG: 'bg-blue', lang: '英', typeBG: 'bg-orange', type: '地方特色', title: 'Remember Me', author: 'Kai-Ting Siao，Siew-Feng Thiah', bookLang: '正體中文', theme: '英文', age: '0-6歲', age2: '7-9歲', age3: '10-12歲', source: '斗六繪本館', teacher: '莊玉鈴', time: '2014-10-01', clicks: '繪本837次'},{langBG: 'bg-blue', lang: '英', typeBG: 'bg-orange', type: '學生創作', title: 'Where? Where? Where Are My Friends?', author: '韋嫻亭，江秀玲，陳宥禎，黃子懿，王勤之，謝泓紜', bookLang: '正體中文', theme: '英文', age: '0-6歲', age2: '7-9歲', age3: '10-12歲', source: '國立苑裡高級中學(二)', teacher: '鄭孟淳、紀柔宇、林佳誼', time: '2018-12-01', clicks: '繪本176次'},{langBG: 'bg-orange', lang: '中', typeBG: 'bg-orange', type: '優賞作品', title: '仁仁愛公園', author: '高德瑋', bookLang: '正體中文', theme: '環境教育', age: '0-6歲', age2: '7-9歲', age3: '10-12歲', source: '臺灣藝術教育館', teacher: '鄭孟淳、紀柔宇、林佳誼', time: '2018-12-01', clicks: '繪本176次'}
])