a(href="book-single.html").card.book-card.margin-lr-10px.margin-bt-20px
	p.book-lang.font-white.font-medium.bg-orange 中
	img(src="images/book2.jpg").border-bottom.border-gray
	.card-body
		h5.card-title.font-orange Dylan's Teeth