a(href="book-single.html").card.book-card.margin-lr-10px.margin-bt-20px
	p.book-lang.font-white.font-medium.bg-blue 英
	img(src="images/book1.jpg").border-bottom.border-gray
	.card-body
		h5.card-title.font-orange Dylan's Teeth