#footer.bg-border-gray
	.footer-top.margin-bt-20px
		.footer-logo.margin-bt-10px
			img(src="images/libLogo.png")
		.footer-info
			p.no-bt-margin.margin-bt-10px 諮詢電話：
				span 04-2262-5100#123
			p.no-bt-margin.margin-bt-10px 諮詢信箱：
				a(href="mailto:avedu@nlpi.edu.tw") avedu@nlpi.edu.tw
			p.no-bt-margin.margin-bt-10px 累計拜訪人次：
				span.font-orange 11111111
	.footer-bottom
		p.no-bt-margin Copyright © 2017 國立公共資訊圖書館 All Right Reserved