.index-books.margin-tb-20px.pd-tb-1em
	a(href="all-books.html").view-all-books.btn.bg-orange.border.border-orange.font-white.margin-bt-20px 瀏覽全部繪本
	.clearfix
	.index-books-wrap
		include book-card.pug
		include book-card-chi.pug
		include book-card-chi.pug
		include book-card.pug
		include book-card-chi.pug
		include book-card.pug
		include book-card-chi.pug
		include book-card.pug
		include book-card.pug