section.news.margin-tb-20px.border-bottom.border-orange
	.news-title.bg-orange.font-white.pd-pill.margin-bt-10px.radius-10.font-small 公告訊息
	.update-news
		#news-carousel.carousel.slide
			.carousel-inner
				.carousel-item.active
					.news-text
						span 2019-01-24
						a(href="#").pd-lr-1em [新增121種繪本，歡迎閱讀！]
						p.index-news 原創繪本新增121種，由「振聲高中」、「竹崎高中」、「中崙高中」、「明道中學」、「靜修女中」、「佳林國中」、「苑裡高中」、「常春藤高中」、「中興高中」、「西苑高中」、「大墩國中」及「國立臺灣藝術教育館」學生所創作，歡迎閱讀。
				.carousel-item
					.news-text
						span 2018-08-30
						a(href="#").pd-lr-1em [恭賀!!!本館圓夢繪本資料庫獲第42屆金鼎獎]
						p.index-news 本資料庫與熊熊數位文化有限公司聯手合作，榮獲第42屆金鼎獎（政府出版品類），歡迎您可直接點擊首頁或各分類繪本進行閱讀。
			a(href="#news-carousel", data-slide="prev", role="button").carousel-control-prev
				span.carousel-control-prev-icon(aria-hidden="true")
			a(href="#news-carousel", data-slide="next", role="button").carousel-control-next
				span.carousel-control-next-icon(aria-hidden="true")