.news-single.margin-lr-20px
	p.news-date 2019-01-24
	h5.margin-bt-10px.font-blue [新增121種繪本，歡迎閱讀！]
	p.font-medium 原創繪本新增121種，由「振聲高中」、「竹崎高中」、「中崙高中」、「明道中學」、「靜修女中」、「佳林國中」、「苑裡高中」、「常春藤高中」、「中興高中」、「西苑高中」、「大墩國中」及「國立臺灣藝術教育館」學生所創作，歡迎閱讀。
	a(href="https://drive.google.com/file/d/1XThkg7vtgM-DE-ZZBblTO6YO-GmTdJ6j/view" target="_blank").font-blue https://drive.google.com/file/d/1XThkg7vtgM-DE-ZZBblTO6YO-GmTdJ6j/view