.newslist-wrap.margin-lr-20px
	.news-block.border-bottom.border-gray
		.news-date
			p.font-medium 2019-01-24
		.news-content.margin-bt-10px
			a(href="newslist-single.html").news-title.margin-bt-10px.font-blue.font-medium [新增121種繪本，歡迎閱讀！]
			p.font-medium 原創繪本新增121種，由「振聲高中」、「竹崎高中」、「中崙高中」、「明道中學」、「靜修女中」、「佳林國中」、「苑裡高中」、「常春藤高中」、「中興高中」、「西苑高中」、「大墩國中」及「國立臺灣藝術教育館」學生所創作，歡迎閱讀。
			a(href="newslist-single.html").news-more.font-blue.font-medium more
	.news-block.border-bottom.border-gray
		.news-date
			p.font-medium 2018-08-30
		.news-content.margin-bt-10px
			a(href="newslist-single.html").news-title.margin-bt-10px.font-blue.font-medium [恭賀!!!本館圓夢繪本資料庫獲第42屆金鼎獎]
			p.font-medium 本資料庫與熊熊數位文化有限公司聯手合作，榮獲第42屆金鼎獎（政府出版品類），歡迎您可直接點擊首頁或各分類繪本進行閱讀。
			a(href="newslist-single.html").news-more.font-blue.font-medium more