.card.mb-3.no-border.margin-tb-20px.bg-none
	.row.no-gutters
		.col-md-3
			a(href="#")
				img(src="images/book1.jpg").book-card-img-pd
		.col-md-9
			.card-body.height100
				.row.height100
					.col-md-6
						a(href="#").card-title.font-red.font-large.font-s-medium Dylan's Teeth
						p.work-type.bg-red.font-white.pd-pill.margin-bt-10px.pill-radius 學生創作
						p.work-des
							span 作者
							span |
							span 韋嫻亭，江秀玲，陳宥禎，黃子懿，王勤之，謝泓紜 
						p.work-des
							span 語言
							span |
							span
								a(href="#").bg-light-green.font-black.pd-sm-pill.pill-radius.pill-border.pill-border 英文
						p.work-des
							span 主題
							span |
							span
								a(href="#").bg-light-green.font-black.pd-sm-pill.pill-radius.pill-border.pill-border 英文
						p.work-des
							span 來源
							span |
							span
								a(href="#").bg-light-green.font-black.pd-sm-pill.pill-radius.pill-border 國立中壢高級家事商業職業學校(應用外語科)
						p.work-des
							span 適讀年齡
							span |
							span
								a(href="#").bg-light-green.font-black.pd-sm-pill.pill-radius.pill-border 10-12歲
								a(href="#").bg-light-green.font-black.pd-sm-pill.pill-radius.pill-border 13-15歲
						p.work-des
							span 指導老師
							span |
							span 劉惠琪
						p.work-des
							span 上架時間
							span |
							span 2016-09-29
						p.work-des
							span 總點閱率
							span |
							span 繪本198次
					.col-md-6.read-book-wrap
						.read-book-btn-wrap
							a(href="#" onclick="openWindow('playbook2.html');").read-book-icon.bg-light-orange.font-white.font-medium.pd-pill.pill-radius.pill-border-light-orange 閱讀繪本
							a(href="" onclick="openWindow('video.html');").watch-anime-icon.bg-light-orange.font-white.font-medium.pd-pill.pill-radius.pill-border-light-orange 看動畫