.book-summary
	p 這個故事以變通兩字貫穿全部，主角鐵匠因為過於專注工作而導致孤獨。直到他遇到貴人，才從職業的迷思中驚醒。 （本書由玉山文教基金會106年贊助印製）
ul#singleBookBottom.nav.nav-tabs(role="tablist")
	li.nav-item
		a#tab-two.nav-link.active(data-toggle="tab", href="#content-two", role="tab", aria-controls="content-two", aria-selected="false") 相關學習資源
	li.nav-item
		a#tab-one.nav-link(data-toggle="tab", href="#content-one", role="tab", aria-controls="content-one", aria-selected="true") 讀者閱讀心得
#singleBookBottomContent.tab-content.single-book-bottom-tab-content
	#content-one.single-book-tab.tab-pane.fade(role="tabpanel", aria-labelledby="content-one")
		.single-book-tab__content
			p.no-bt-margin "閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得"
			.divider.margin-tb-20px
			p.no-bt-margin "閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得"
	#content-two.single-book-tab.tab-pane.fade.show.active(role="tabpanel", aria-labelledby="content-two")
		.single-book-tab__content
			.resources-wrap
				include resources.pug
				include resources.pug